<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="PythonTools" Language="1033" Version="1.0.0.0">
    <Package Id="DB5A4FB0-1771-45D7-97E6-7C731734F328" Manufacturer="Microsoft Corporation" InstallerVersion="200" />

    <?include ..\MergeModule.wxi ?>

    <DirectoryRef Id="Dir_VSInstallLocation">
      <Directory Id="Dir_ptvsd" Name="ptvsd" />
      <Directory Id="GAC" Name="GAC" />
    </DirectoryRef>

    <?foreach key in VS;WD;VWD?>
    <DirectoryRef Id="Dir_$(var.key)InstallLocation">
      <Directory Id="Dir_$(var.key)InstallLocationTemplates" Name="Templates">
        <Directory Id="Dir_$(var.key)FileTemplate" Name="NewItem" />
      </Directory>
      <Directory Id="Dir_$(var.key)CompletionDB" Name="CompletionDB" />
    </DirectoryRef>
    <?endforeach?>

    <Configuration Name="Config_StartMenuLocation" Format="Key" Type="Identifier" DefaultValue="TARGETDIR" />
    <Substitution Table="Directory" Column="Directory_Parent" Row="Dir_StartMenu" Value="[=Config_StartMenuLocation]" />

    <DirectoryRef Id="TARGETDIR">
      <Directory Id="Dir_StartMenu" />
    </DirectoryRef>

    <Component Id="Comp_Shortcuts" Directory="Dir_VSInstallLocation" Guid="*">
      <Shortcut Id="PTVSDShortcut"
                Name="ptvsd Package"
                Directory="Dir_StartMenu"
                Description="Python Tools for Visual Studio Debugger package"
                Target="[Dir_ptvsd]" />
      <Shortcut Id="LicenseShortcut"
                Name="PTVS License"
                Directory="Dir_StartMenu"
                Description="Python Tools for Visual Studio License Agreement"
                Target="[#File_VS_Python_Tools_for_VS_License.rtf]"/>
      <RegistryValue Root='HKCU' Key='SOFTWARE\Microsoft\PythonTools\$(var.VSTargetVersion)'
                     Type='string'
                     Name='ptvsd'
                     Value='[Dir_ptvsd]'
                     KeyPath='yes' />
      <RemoveFolder Id='DeleteDir_StartMenu' Directory='Dir_StartMenu' On='uninstall'/>
    </Component>

    <Component Id="PerUserInstallRegistry" Directory="Dir_VSInstallLocation" Guid="*">
      <Condition>NOT ALLUSERS = 1</Condition>
      <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\EnabledExtensions'>
        <RegistryValue Type='string' Name='96492FC7-7BC6-46F7-8559-66BB4E09FD1E,$(var.ReleaseVersion)' Value='[Dir_VSInstallLocation]'/>
      </RegistryKey>
      <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\ExtensionTypes'>
        <RegistryValue KeyPath='yes' Type='string' Name='96492FC7-7BC6-46F7-8559-66BB4E09FD1E,$(var.ReleaseVersion)' Value='Tool'/>
      </RegistryKey>
    </Component>

    <Component Directory="Dir_VSInstallLocation" Guid="*">
      <Condition>NOT ALLUSERS = 1</Condition>
      <File KeyPath="yes" Source='VSTemplateStore.pkgdef' />
    </Component>

    <ComponentGroupRef Id="CGroup_PythonToolsFiles"/>
  </Module>
</Wix>
