<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="ReplWindow" Language="1033" Version="1.0.0.0">
    <Package Id="509BB9F6-D4C1-4AB2-9EDD-D84D548A9EE4" Manufacturer="Microsoft Corporation" InstallerVersion="200" />

    <?include ..\MergeModule.wxi ?>

    <Component Id="PerUserInstallRegistry" Directory="Dir_VSInstallLocation" Guid="{D02050BD-AC66-4EFF-AF1C-E5C08A906CF1}">
      <Condition>NOT ALLUSERS = 1</Condition>
      <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\EnabledExtensions'>
        <RegistryValue Type='string' Name='ce8d8e55-ad29-423e-aca2-810d0b16cdc4,$(var.ReleaseVersion)' Value='[Dir_VSInstallLocation]'/>
      </RegistryKey>
      <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\ExtensionTypes'>
        <RegistryValue Type='string' Name='ce8d8e55-ad29-423e-aca2-810d0b16cdc4,$(var.ReleaseVersion)' Value='Tool'/>
      </RegistryKey>
    </Component>

    <ComponentGroupRef Id="CGroup_ReplWindowFiles"/>
  </Module>
</Wix>
