/BuildOutput/
/packages/
packages.14.0/
packages.15.0/
packages.16.0/
*.sdf
*.opensdf
*.suo
TestResults/
*.vspscc
*.user
*.ipch
.hg
.vs
Python/Product/PythonTools/Templates/Files/*/*RoleConfiguration.mht
Python/Product/PythonTools/Templates/Projects/*/*RoleConfiguration.mht
Python/Product/PythonTools/Templates/Files/*/ConfigureCloudService.ps1
Python/Product/PythonTools/Templates/Projects/*/ConfigureCloudService.ps1
Python/Product/PythonTools/Templates/Files/*/ps.cmd
Python/Product/PythonTools/Templates/Projects/*/ps.cmd
Python/Product/PythonTools/Templates/Files/*/LaunchWorker.ps1
Python/Product/PythonTools/Templates/Projects/*/LaunchWorker.ps1
Python/Product/Django/Templates/Projects/*/*RoleConfiguration.mht
Python/Product/Django/Templates/Projects/*/ConfigureCloudService.ps1
Python/Product/Django/Templates/Projects/*/ps.cmd
Python/Product/Pylance/Pylance/**/*
__pycache__/
/Python/*.VC.opendb
/Python/*.VC.db
/Pylance/*
