# This is the old private feed registry, leaving it here for reference
# registry=https://pkgs.dev.azure.com/devdiv/_packaging/Pylance/npm/registry/ 
registry=https://pkgs.dev.azure.com/azure-public/vside/_packaging/msft_consumption/npm/registry/
                        
always-auth=true
package-lock=false