<?xml version="1.0" encoding="utf-8"?>
<!--
This template removes any existing handler so that the default handlers will be used for this directory.
Only handlers added by the other web.config templates, or with the name set to PythonHandler, are removed.

See https://aka.ms/PythonOnAppService for more information.
-->
<configuration>
  <system.webServer>
    <handlers>
      <remove name="PythonHandler"/>
    </handlers>
  </system.webServer>
</configuration>