<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="AzureDeploymentCmdlets">
            <!-- Per user components -->

            <Component Id="ApplicationShortcut" Guid="{63DDD18C-EEDD-4F22-B381-0F6941F58933}" Directory="AzureSdkPythonFolder" >
                <Shortcut Id="ApplicationStartMenuShortcut" 
                          Name="Windows Azure PowerShell for Python"
                          Description="Windows PowerShell commandlets for deploying Python applications to Windows Azure"
                          Target="[SystemFolder]\WindowsPowerShell\v1.0\powershell.exe"
                          Arguments="-NoExit -Command &quot;cd 'C:\'; Get-ChildItem '[PowerShellFolder]*cmdlets.dll' | ForEach-Object {Import-Module $_}&quot;"
                />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKMU" Key="Software\Microsoft\PythonTools" Name="PowerShellFolder" Type="string" Value="[PowerShellFolder]" KeyPath="yes"/>
            </Component>

            <!-- Both per user and all user components -->
            <Component Id="cmp9B285B6CA29B449D8CA4548C21D6E838" Directory="PowerShellFolder" Guid="{1A5821BA-6304-4B7F-B990-B362EF063452}">
                <File Id="fil72A17B061A0C48C391FF6F7424364CAA" KeyPath="yes" Source="$(var.TargetDir)\WebPICmdLine\WebPICmdLine.exe" />
            </Component>

            <Component Id="cmp9DCBB62C975E4C7590EB09A908BD4DB9" Directory="PowerShellFolder" Guid="{68EB9CD9-5B10-4E25-8B53-335158071C29}">
                <File Id="fil0FAFC26879C24E95868EE7B9C9D25A1D" KeyPath="yes" Source="$(var.TargetDir)\WebPICmdLine\Microsoft.Web.Deployment.dll" />
            </Component>

            <Component Id="cmpBEAF9CA66FE84A3C8EE6AAC5923C8714" Directory="PowerShellFolder" Guid="{05169212-469E-489F-A0E1-0415A59907D8}">
                <File Id="filDA775268F31347B38C02AB8B4477FCBD" KeyPath="yes" Source="$(var.TargetDir)\WebPICmdLine\Microsoft.Web.PlatformInstaller.dll" />
            </Component>

            <Component Id="cmpE39FF7B34D7D468D9B52F4278204E2A2" Directory="PowerShellFolder" Guid="{951B2B8C-3256-4B1E-BF76-16EF89DCE974}">
                <File Id="fil50977742B5A949CE976A00D1449F76AD" KeyPath="yes" Source="$(var.TargetDir)\WebPICmdLine\Microsoft.Web.PlatformInstaller.UI.dll" />
            </Component>

            <Component Id="cmp1667F8C7B42D4BB58FA927EEA286A9CF" Directory="PowerShellFolder" Guid="{622BC7FD-3D83-408A-83C2-D3BEE549E435}">
                <File Id="fil01D7C1DF41584800A9B42169060499A0" KeyPath="yes" Source="$(var.TargetDir)\wfastcgi.py" />
            </Component>

            <Component Id="cmp929AFB5E02704A549E9F72C9FD545B9E" Directory="PowerShellFolder" Guid="{1BE26918-11D5-42DA-B137-F16891251333}">
                <File Id="fil297D5F1CC6574D95A536AF14ECC25564" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.AzureSetup.exe" />
            </Component>

            <Component Id="cmp33CFEFE2DA3C45EA923BD36AC49F1DCD" Directory="PowerShellFolder" Guid="{7206C337-E4AD-448F-804D-7C12E9F551F3}">
                <File Id="filC952640589944FAA877A53B12B983950" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.WebRole.dll" />
            </Component>

            <Component Id="cmpCC8512B9288C463AA405B67C968AFF9B" Directory="PowerShellFolder" Guid="{CC8512B9-288C-463A-A405-B67C968AFF9B}">
                <File Id="fil1CD22C1AD9684B24ACEBBF055D21553B" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.WindowsAzure.Diagnostics.dll" />
            </Component>

            <Component Id="cmpB40C526658894BC094678910C518E4EF" Directory="PowerShellFolder" Guid="{CFB9611A-C818-4B96-AD92-6CFA0B15E2D1}">
                <File Id="fil16EC87C1B7E44DF2A640923CAE161BF7" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.WindowsAzure.Diagnostics.xml" />
            </Component>

            <Component Id="cmp1242A4D058534180B8E0BBBC7D941FC8" Directory="PowerShellFolder" Guid="{BEB0DADD-3668-4A5F-84EA-3BE4C0039054}">
                <File Id="fil9A229DE85BB04351A59CF20E2213CD67" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.WindowsAzure.StorageClient.dll" />
            </Component>

            <Component Id="cmp36A57E1E7DB64910BFB05564ECC508B6" Directory="PowerShellFolder" Guid="{BFE01B72-2727-415A-AB8B-9E4107381866}">
                <File Id="fil55E46847674B4C5589EB470C2A5CF00A" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.WindowsAzure.StorageClient.xml" />
            </Component>

            <Component Id="cmpB3F31948DB764B5BADCB0CFEC273CA8B" Directory="GeneralScaffoldingFolder" Guid="{74D9CF31-303D-4917-B067-F446228430D8}">
                <File Id="filE9B0824E74894041B42C9A462DA8E4CF" KeyPath="yes" Source="$(var.TargetDir)\Resources\Scaffolding\General\deploymentSettings.json" />
            </Component>

            <Component Id="cmp2049EA808D214BF684B4EC1BE308D731" Directory="GeneralScaffoldingFolder" Guid="{B4EEC996-CE55-49D4-B55D-36321762F81E}">
                <File Id="fil9DC29C8988C2443A80B80FD022FB1120" KeyPath="yes" Source="$(var.TargetDir)\Resources\Scaffolding\General\Scaffold.xml" />
            </Component>

            <Component Id="cmpEC3D45669CC84E3C85426EB39BB5A9BB" Directory="GeneralScaffoldingFolder" Guid="{D958C2B9-4DD1-4B60-BA03-C59D4F4E3A20}">
                <File Id="filCDDD192CAF424DD5BC6962FADAED1033" KeyPath="yes" Source="$(var.TargetDir)\Resources\Scaffolding\General\ServiceConfiguration.Cloud.cscfg" />
            </Component>

            <Component Id="cmpF51EB0D413C24397A6D8B131888A4F00" Directory="GeneralScaffoldingFolder" Guid="{A45E8054-22EF-44CA-BBEF-D92B810EF75C}">
                <File Id="fil8A4EC54924804E1382475AB20ECB1793" KeyPath="yes" Source="$(var.TargetDir)\Resources\Scaffolding\General\ServiceConfiguration.Local.cscfg" />
            </Component>

            <Component Id="cmp5F2E7FDF14CDAAFE61AC9A900DEE7" Directory="GeneralScaffoldingFolder" Guid="{863DEC1A-80D8-4D6A-8747-125E2FA1F148}">
                <File Id="filE71233ADD8F14EDD9D12C196769E3D56" KeyPath="yes" Source="$(var.TargetDir)\Resources\Scaffolding\General\ServiceDefinition.csdef" />
            </Component>

            <Component Id="cmp9419AC52926145748BEE31970EC84548" Directory="PythonWebRoleFolder" Guid="{D34F5D7E-4BD9-4577-87ED-1991A9508AE7}">
                <File Id="fil9CFADC59BCA0465B8FB28BFA7104A0E5" KeyPath="yes" Source="$(var.TargetDir)\Resources\Scaffolding\Python\WebRole\Web.config" />
            </Component>

            <Component Id="cmpAB6EFA8A15DC4F19BB1A6EAB2DAFB0D7" Directory="PythonWebRoleFolder" Guid="{32187A8C-2B40-4A22-9775-856AEAB3A81E}">
                <File Id="filBF89C08D7C91453FA263C41B728EC2DF" KeyPath="yes" Source="$(var.TargetDir)\Resources\Scaffolding\Python\WebRole\Web.cloud.config" />
            </Component>

            <Component Id="cmpFA6904FB44884DD1BEC5A9CE780AD298" Directory="PythonWebRoleFolder" Guid="{DCDF1D2C-C4DF-4342-B543-1CAAD85E78A8}">
                <File Id="fil1A706752B15548E39328E218B3A505C5" KeyPath="yes" Source="$(var.TargetDir)\Resources\Scaffolding\Python\WebRole\WebRole.xml" />
            </Component>

            <Component Id="cmp6950854E783A4B638AB13DE1D88FFF62" Directory="PythonWebRoleFolder" Guid="{2DB9AD4B-8449-4107-97F4-455EE7521661}">
                <File Id="fil8DD650206E654C9F98E11E67C918FB67" KeyPath="yes" Source="$(var.TargetDir)\Resources\Scaffolding\Python\WebRole\RoleSettings.xml" />
            </Component>

            <Component Id="cmp9E5EF8FB7EC14845BBF83F43BEA2077F" Directory="PythonWebRoleFolder" Guid="{24EDB42D-20CD-4869-93AB-1C2297885381}">
                <File Id="fil5BE0096425EF46E18D87ED25AAF7B67E" KeyPath="yes" Source="$(var.TargetDir)\Resources\Scaffolding\Python\WebRole\urls.py" />
            </Component>

            <Component Id="cmp91D3AA1095EB4CBFAD3E41E0149C5A3F" Directory="PythonWebRoleFolder" Guid="{91E9C8F9-D2A3-4323-9358-B25690436BA8}">
                <File Id="fil2AA2B5B3538249D1A2953AF762AD77DE" KeyPath="yes" Source="$(var.TargetDir)\Resources\Scaffolding\Python\WebRole\settings.py" />
            </Component>

            <Component Id="cmpD861F05275FF435EAF9091841ABFB535" Directory="PythonWebRoleFolder" Guid="{8F70F6CE-0677-4781-8BDD-1CBFC86BE2C8}">
                <File Id="filA579027609F34CF592BAD89893E18652" KeyPath="yes" Source="$(var.TargetDir)\Resources\Scaffolding\Python\WebRole\manage.py" />
            </Component>

            <Component Id="cmp69819DA5021348AFB4F8CFABB03BC2A1" Directory="PythonWebRoleFolder" Guid="{3FCB010D-90F9-4AEA-BC22-217A305F9CFB}">
                <File Id="fil49666A738AA24A90AE35706E39E0C59B" KeyPath="yes" Source="$(var.TargetDir)\Resources\Scaffolding\Python\WebRole\AzureSetup.cfg" />
            </Component>

            <Component Id="cmp065B74FAA8A94AA6BE66359C085E3C8E" Directory="PythonWebRoleFolder" Guid="{7EECB342-38E2-41CA-998D-B0ACC9A6FDAB}">
                <File Id="filB1F803CBF838482D888649F0A6506E95" KeyPath="yes" Source="$(var.TargetDir)\Resources\Scaffolding\Python\WebRole\__init__.py" />
            </Component>

            <Component Id="cmpCF519964DA334D92B8C919FFFF0EBFDC" Directory="PythonWebRoleFolder" Guid="{EA87E723-E051-458B-B953-FB0E46E3084A}">
                <File Id="filAC5C451C0BD34630B5C9A2CFFE21CE42" KeyPath="yes" Source="$(var.TargetDir)\Resources\Scaffolding\Python\WebRole\Scaffold.xml" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>

