<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define InstallLocationName = "Python Azure Deployment Cmdlets" ?>
  <?define versionedStartMenuFolder="Windows Azure SDK for Python - June 2012" ?>  
  <?define versionedFolder="June2012" ?>
  
  <Module Id="PythonAzureDeploymentCmdlets" Language="1033" Version="1.0.0.0">
    <Package Id="1B141D63-CD9C-4EBA-A5DD-550D12400C4C" Manufacturer="Microsoft Corporation" InstallerVersion="200" />

    <?include ..\InstallPath.wxi ?>
    <?include ..\MergeModule.wxi ?>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="SystemFolder"/>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MicrosoftSdkFolder" Name = "Microsoft SDKs">
          <Directory Id="AzureSdkFolder" Name = "Windows Azure">
            <Directory Id="PythonFolder" Name = "Python">
              <Directory Id="VersionedFolder" Name = "$(var.versionedFolder)">
                  <Directory Id="PowerShellFolder" Name = "PowerShell">
                    <Directory Id="ScaffoldingFolder" Name = "Scaffolding">
                        <Directory Id="GeneralScaffoldingFolder" Name = "General"/>
                        <Directory Id="PythonScaffoldingFolder" Name = "Python">
                            <Directory Id="PythonWebRoleFolder" Name = "WebRole">
                            </Directory>
                        </Directory>
                    </Directory>
                  </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="AzureSdkPythonFolder" Name="$(var.versionedStartMenuFolder)"/>
      </Directory>
    </Directory> 

    <ComponentGroupRef Id="AzureDeploymentCmdlets"/>
  </Module>
</Wix>
