<?xml version="1.0" encoding="utf-8"?>
<!--
This template is configured to use Python 3.5 on Azure App Service. To use a different version of Python,
or to use a hosting service other than Azure, replace the processPath below with the path given to you by
your provider.

For Python 2.7 on Azure App Service, the path is "D:\home\Python27\python.exe"

The arguments should be modified to launch your site using the number in HTTP_PLATFORM_PORT for its port.

See https://aka.ms/PythonOnAppService for more information.
-->
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="D:\home\Python35\python.exe"
                  arguments="D:\home\site\wwwroot\runserver.py --port %HTTP_PLATFORM_PORT%"
                  stdoutLogEnabled="true"
                  stdoutLogFile="D:\home\LogFiles\python.log"
                  startupTimeLimit="60"
                  processesPerApplication="16">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>