.page[b-2x7irl77jk] {
	position: relative;
	display: flex;
	flex-direction: column;
}

main[b-2x7irl77jk] {
	flex: 1;
}

.sidebar[b-2x7irl77jk] {
	background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-2x7irl77jk] {
	background-color: #f7f7f7;
	border-bottom: 1px solid #d6d5d5;
	justify-content: flex-end;
	height: 3.5rem;
	display: flex;
	align-items: center;
}

	.top-row[b-2x7irl77jk]  a, .top-row .btn-link[b-2x7irl77jk] {
		white-space: nowrap;
		margin-left: 1.5rem;
	}

	.top-row a:first-child[b-2x7irl77jk] {
		overflow: hidden;
		text-overflow: ellipsis;
	}

@media (max-width: 640.98px) {
	.top-row:not(.auth)[b-2x7irl77jk] {
		display: none;
	}

	.top-row.auth[b-2x7irl77jk] {
		justify-content: space-between;
	}

	.top-row a[b-2x7irl77jk], .top-row .btn-link[b-2x7irl77jk] {
		margin-left: 0;
	}
}

@media (min-width: 641px) {
	.page[b-2x7irl77jk] {
		flex-direction: row;
	}

	.sidebar[b-2x7irl77jk] {
		width: 250px;
		height: 100vh;
		position: sticky;
		top: 0;
	}

	.top-row[b-2x7irl77jk] {
		position: sticky;
		top: 0;
		z-index: 1;
	}

	.top-row[b-2x7irl77jk], article[b-2x7irl77jk] {
		padding-left: 2rem !important;
		padding-right: 1.5rem !important;
	}
}
