<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define InstallLocationName = "PythonProfiling" ?>

  <Module Id="PythonProfiling" Language="1033" Version="1.0.0.0">
    <Package Id="03D4481D-0C32-49A9-A1CA-F93504767E5F" Manufacturer="Microsoft Corporation" InstallerVersion="200" />

    <?include ..\InstallPath.wxi ?>
    <?include ..\MergeModule.wxi ?>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="EXTENSION_INSTALLPATH">
        <Directory Id="_EB81DD59F2004D80920C8419FDB26819" Name="Extensions">
          <Directory Id="_53E246BD78E24B9BB99B7BBE8C7F077C" Name="Microsoft">
            <Directory Id="_CECA38A01D8B4B79B2F2BE809AFAD70C" Name="PythonProfiling">
              <Directory Id="INSTALLLOCATION" Name="2.0" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroupRef Id="PythonProfilingExt"/>
  </Module>
</Wix>
