{% extends "app/layout.html" %}

{% block content %}

<h2>{{title}}.</h2>

<h3>Support</h3>
<address>
    <strong>Python support for Visual Studio:</strong> <a href="https://aka.ms/ptvs" target="_blank">https://aka.ms/ptvs</a><br />
</address>

<h3>Links</h3>
<address>
    <strong>Django:</strong> <a href="https://www.djangoproject.com/" target="_blank">https://www.djangoproject.com/</a><br />
    <strong>Microsoft Azure:</strong> <a href="http://azure.microsoft.com/" target="_blank">http://azure.microsoft.com/</a><br />
</address>

{% endblock %}
