extends layout

block content
  h2 #{title}.

  h3 Support
  address
    strong Python Tools for Visual Studio: 
    a(href='http://pytools.codeplex.com/', target='_blank') http://pytools.codeplex.com/
    br

  h3 Links
  address
    strong Flask: 
    a(href='http://flask.pocoo.org/', target='_blank') http://flask.pocoo.org/
    br
    strong Microsoft Azure: 
    a(href='http://azure.microsoft.com/', target='_blank') http://azure.microsoft.com/
    br
    strong Table Storage: 
    a(href='http://azure.microsoft.com/en-us/documentation/articles/storage-python-how-to-use-table-storage/', target='_blank') http://azure.microsoft.com/en-us/documentation/articles/storage-python-how-to-use-table-storage/
    br
    strong PyMongo: 
    a(href='http://api.mongodb.org/python/current/', target='_blank') http://api.mongodb.org/python/current/
    br
