extends layout

block content
  h2 #{title}.
  - if polls
      table.table.table-hover
        tbody
          - each poll in polls
            tr
              td
                a(href='/poll/#{poll.key}') #{poll.text}
  - else
    p No polls available.
    br
    form(action='/seed', method='post')
     button.btn.btn-primary(type='submit') Create Sample Polls
