<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Directory Id="dir10D6490D7F4741868DF54BB19BCE400F" Name="Templates">
                <Directory Id="dir7B61D4A4A47F448591E6FBA39831CE26" Name="Projects" >
                    <Directory Id="dirDB60FDC6880B412AAF8ACD9FB2E9F798" Name="HpcMpiProject" />
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PythonHpcSupportExt">
            <!-- Per user components -->
            <Component Id="PerUserInstallRegistry" Directory="INSTALLLOCATION" Guid="{ACF2F490-204B-4546-81EA-7CAC8750AC1C}">
                <Condition>NOT ALLUSERS = 1</Condition>
                <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\EnabledExtensions'>
                    <RegistryValue Type='string' Name='413E24B0-F748-48D4-B638-01D121A88A04,1.5' Value='[EXTENSION_INSTALLPATH]Extensions\Microsoft\Python Tools HPC Support\1.5\'/>
                </RegistryKey>
                <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\ExtensionTypes'>
                    <RegistryValue Type='string' Name='413E24B0-F748-48D4-B638-01D121A88A04,1.5' Value='Tool'/>
                </RegistryKey>
            </Component>

            <!-- Both per user and all user components -->
            <Component Id="cmpC37DE5B7CDC34285A20C395FE9B7C60D" Directory="INSTALLLOCATION" Guid="{C885A8D8-77C6-4F66-9F1B-AFBB1E37FD23}">
                <File Id="fil4070C2CC31704C61B15FD6607B2E4E46" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.Hpc.dll" />
            </Component>
            <Component Id="cmpBEFDE579EC5F4E968AC0EFA8CE65090E" Directory="INSTALLLOCATION" Guid="{361A8DF3-B4BF-438A-B479-DD03E92BE4FA}">
                <File Id="fil5AF26ADCFD204FB8A40AFB936931D886" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.MpiShim.exe" />
            </Component>
            <Component Id="cmp4FE678B5431D4E78B615AF9FF3E794BF" Directory="INSTALLLOCATION" Guid="{CB04F233-2489-4A30-B4DA-D7207D2F0B54}">
                <File Id="fil059A199DE7664A02BBEFD0399424ED4A" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.Hpc.pkgdef" />
            </Component>
            <Component Id="cmp3DA13923AD6149C7815E67F1BE629E20" Directory="INSTALLLOCATION" Guid="{7A1ADF5E-AC7C-4D47-9072-C155C9DCA6C2}">
                <File Id="fil888B12CADE9D43AAB2478E070052B2D5" KeyPath="yes" Source="$(var.ObjDir)\extension.vsixmanifest" />
            </Component>
            <Component Id="cmp6A505238B0B94551B74D0C09B7F4BE04" Directory="dirDB60FDC6880B412AAF8ACD9FB2E9F798" Guid="{AC99DA69-242A-4E45-9C4A-9058A0B1B4C0}">
                <File Id="fil61D7599C3767439994764A8A78DD77C3" KeyPath="yes" Source="$(var.TargetDir)\Templates\Projects\HpcMpiProject\HpcMpiApp.zip" />
            </Component>
            <Component Id="cmp5A39EC972CCB4D3F943C845BE2BD3108" Directory="INSTALLLOCATION" Guid="{DADA0040-D356-49BB-8A27-A6A5742CF712}">
                <File Id="filF9C3E3EE4B03454A80484BD15C2F2B6F" KeyPath="yes" Source="$(var.TargetDir)\PythonProject.ico" />
            </Component>
            <Component Id="cmp50B6E339694C469B8AB7501BC2174040" Directory="INSTALLLOCATION" Guid="{8DA30F86-D072-4A81-BB2E-3C032706C5AE}">
                <File Id="fil2813AEF167BF467A856BFCDF2F8B91EC" KeyPath="yes" Source="$(var.TargetDir)\PythonProjectBig.ico" />
            </Component>
		</ComponentGroup>
    </Fragment>
</Wix>