<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="PythonProfilingExt">
            <!-- Per user components -->
            <Component Id="PerUserInstallRegistry" Directory="INSTALLLOCATION" Guid="{3A0AEDAE-0D3C-415C-A586-F91CBBEC2673}">
                <Condition>NOT ALLUSERS = 1</Condition>
                <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\EnabledExtensions'>
                    <RegistryValue Type='string' Name='81da0100-e6db-4783-91ea-c38c3fa1b81e,2.0' Value='[EXTENSION_INSTALLPATH]Extensions\Microsoft\PythonProfiling\2.0\'/>
                </RegistryKey>
                <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\ExtensionTypes'>
                    <RegistryValue Type='string' Name='81da0100-e6db-4783-91ea-c38c3fa1b81e,2.0' Value='Microsoft.VisualStudio.VsPackage'/>
                </RegistryKey>
            </Component>

            <!-- Both per user and all user components -->
            <Component Id="cmpB1338B49644B4C6DBF9D3980DD31C5B1" Directory="INSTALLLOCATION" Guid="{25572FC4-9256-43B0-876E-28C4A2D07C4F}">
                <File Id="fil8EDEB70C247E4F11AA5A32BCB51E64F1" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.Profiling.dll" />
            </Component>
            <Component Id="cmpCD2BB3511CAC43A2A956D04F0918395B" Directory="INSTALLLOCATION" Guid="{2C99B82E-9AE8-4F5A-88F1-CD5BAAE08A8F}">
                <File Id="filB896375BE08847A2959A7361C4684651" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.Profiling.pkgdef" />
            </Component>
            <Component Id="cmp57A56C1E862649A684A47987A7AA508C" Directory="INSTALLLOCATION" Guid="{A08CD41F-86A2-4CD5-81E0-70710C0151F9}">
                <File Id="fil6A5A67EFFD6D4AC0B1BF8EFDE289A106" KeyPath="yes" Source="$(var.ObjDir)\extension.vsixmanifest" />
            </Component>
            <Component Id="cmpF8C2863A3A67426E93898424D030AC9A" Directory="INSTALLLOCATION" Guid="{DF11AEA4-BFAE-46FD-853A-9D2DE64934D6}">
                <File Id="filBC43B406B669477A9C045769293A23C1" KeyPath="yes" Source="$(var.TargetDir)\VsPyProf.dll" />
            </Component>
            <Component Id="cmp9B12911071EE47FAB6A7E2F5F0D514F1" Directory="INSTALLLOCATION" Guid="{357CA932-BA19-41A4-8560-3C75ECB99343}">
                <File Id="fil0B8A3FF3641B41009D21AD0541DA9456" KeyPath="yes" Source="$(var.TargetDir)\VsPyProfX86.dll" />
            </Component>
            <Component Id="cmp9B121871973B4F74BC42193DAA25A7DA" Directory="INSTALLLOCATION" Guid="{AAB8A3DC-FE2F-4683-A653-3B12EC52A540}">
                <File Id="fil6B5DB0F6957F4540B974B9C14560D996" KeyPath="yes" Source="$(var.TargetDir)\vspyprof.py" />
            </Component>
            <Component Id="cmpC36F2C4A6A74416797A1CEBE5D7379B5" Directory="INSTALLLOCATION" Guid="{EACB9E23-0DB9-4972-9A9B-509F55C59941}">
                <File Id="fil365CA8F1D96947D088222E077FB9689F" KeyPath="yes" Source="$(var.TargetDir)\proflaun.py" />
            </Component>
            <Component Id="cmp1740FD279C4C404FB5DE08CB749650EF" Directory="INSTALLLOCATION" Guid="{CDB7EA26-5EAF-42EE-A65F-35FFD410EF85}">
                <File Id="filAF13F92DD59644C1A4FF5421E0DDAF39" KeyPath="yes" Source="$(var.TargetDir)\PythonProject.ico" />
            </Component>
            <Component Id="cmpC11203AA5FED4C65825E8755F32974DC" Directory="INSTALLLOCATION" Guid="{D46013C7-35B9-4120-8AF9-D5038B85FC37}">
                <File Id="fil0194A4CB827D4DEB99BF6B69419106B0" KeyPath="yes" Source="$(var.TargetDir)\PythonProjectBig.ico" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirB5E9067FE65E4809BBB58200BCF7AF34" />
    </Fragment>
</Wix>