<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="PythonProfilingExt">
            <Component Id="cmpB1338B49644B4C6DBF9D3980DD31C5B1" Directory="INSTALLLOCATION" Guid="{25572FC4-9256-43B0-876E-28C4A2D07C4F}">
                <File Id="fil8EDEB70C247E4F11AA5A32BCB51E64F1" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.Profiling.dll" />
            </Component>
            <Component Id="cmpCD2BB3511CAC43A2A956D04F0918395B" Directory="INSTALLLOCATION" Guid="{2C99B82E-9AE8-4F5A-88F1-CD5BAAE08A8F}">
                <File Id="filB896375BE08847A2959A7361C4684651" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.Profiling.pkgdef" />
            </Component>
            <Component Id="cmp57A56C1E862649A684A47987A7AA508C" Directory="INSTALLLOCATION" Guid="{A08CD41F-86A2-4CD5-81E0-70710C0151F9}">
                <File Id="fil6A5A67EFFD6D4AC0B1BF8EFDE289A106" KeyPath="yes" Source="$(var.ObjDir)\extension.vsixmanifest" />
            </Component>
            <Component Id="cmp9709CE347C27435F9B3841B7BA9449F4" Directory="INSTALLLOCATION" Guid="{59A95084-9DA5-4D50-BD57-33E6D800C188}">
                <File Id="fil24388417A08D4210A6D7F461F2AECAA9" KeyPath="yes" Source="$(var.TargetDir)\vspyprof.dll" />
            </Component>
            <Component Id="cmp7306B166EA76486D88A87580218712F9" Directory="X64INSTALL" Guid="{9F79B970-19DA-40FD-9276-35A68986F6B9}">
                <File Id="fil3E48F72D3D164A9AB3FBD1470ECCFE31" KeyPath="yes" Source="$(var.x64Dir)\vspyprof.dll" />
            </Component>
            <Component Id="cmp9B121871973B4F74BC42193DAA25A7DA" Directory="INSTALLLOCATION" Guid="{AAB8A3DC-FE2F-4683-A653-3B12EC52A540}">
                <File Id="fil6B5DB0F6957F4540B974B9C14560D996" KeyPath="yes" Source="$(var.TargetDir)\vspyprof.py" />
            </Component>
            <Component Id="cmpC36F2C4A6A74416797A1CEBE5D7379B5" Directory="INSTALLLOCATION" Guid="{EACB9E23-0DB9-4972-9A9B-509F55C59941}">
                <File Id="fil365CA8F1D96947D088222E077FB9689F" KeyPath="yes" Source="$(var.TargetDir)\proflaun.py" />
            </Component>
		</ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirB5E9067FE65E4809BBB58200BCF7AF34" />
    </Fragment>
</Wix>