<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Directory Id="dirF0D3CF56D8C94E078A27303E15108536" Name="Templates" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DjangoVsExt">
            <!-- Per user components -->
            <Component Id="PerUserInstallRegistry" Directory="INSTALLLOCATION" Guid="{4B9498D3-AA15-4DA7-951B-47A49883AF73}">
                <Condition>NOT ALLUSERS = 1</Condition>
                <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\EnabledExtensions'>
                    <RegistryValue Type='string' Name='a8637c34-aa55-46e2-973c-9c3e09afc17b,1.5' Value='[EXTENSION_INSTALLPATH]Extensions\Microsoft\Python Tools Django Support\1.5\'/>
                </RegistryKey>
            </Component>

            <Component Id="cmpA3B88C22BEA14947969A6DBAC37EAC3C" Directory="INSTALLLOCATION" Guid="{CBD6D4DA-7DA8-4D07-92C5-53D9E72769A2}">
                <File Id="fil92CB7762778A45D582343F2F3E3B5E0C" KeyPath="yes" Source="$(var.TargetDir)\PythonProject.ico" />
            </Component>
            <Component Id="cmp3DB4060D02CA456E814470F70D38EE9D" Directory="INSTALLLOCATION" Guid="{9945B619-B1D7-43F7-BD64-1E2E32615FAD}">
                <File Id="fil7C031EE5F18742A0A51C2865B7B93DE6" KeyPath="yes" Source="$(var.TargetDir)\PythonProjectBig.ico" />
            </Component>

            <!-- Both per user and all user components -->
            <Component Id="cmp85EAAEE386C1446FA54E83CDB83B078F" Directory="INSTALLLOCATION" Guid="{9AF3CFB7-BD81-4E27-9FD0-43CFDD9FAE72}">
                <File Id="fil87C095A96C5B482C9D76ADBD4A724803" KeyPath="yes" Source="$(var.ObjDir)\extension.vsixmanifest" />
            </Component>
            <Component Id="cmp4C5840915DD748D3BBEA60BC204FFB18" Directory="INSTALLLOCATION" Guid="{7176A2F6-D007-44D4-8819-C88786F31D20}">
                <File Id="fil94D0D491095E44A1B0953FA3E77F9A6A" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.Django.dll" />
            </Component>
            <Component Id="cmp529D4DBADD5343BC9BA9C9D10627E979" Directory="INSTALLLOCATION" Guid="{505D2DA1-16AB-4FE3-8415-9237474E3190}">
                <File Id="filBAF64E97BE09427086DEBB9703D146C6" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.Django.pkgdef" />
            </Component>
            <Component Id="cmp843B7FB2D6434D2799C80D60D9842459" Directory="dir117EF6E430844404B5E87390FC3DFD4E" Guid="{26F95137-B41F-47CB-B3A2-6769E513D11F}">
                <File Id="filC0DD732153BC4B168791158F3DEF4CAD" KeyPath="yes" Source="$(var.TargetDir)\Templates\Projects\DjangoProject\DjangoApp.zip" />
            </Component>
            <Component Id="cmpE95A9B6479B549C5BCFADF24CBF605FD" Directory="dir25D6546B68914D63B88D47F600FEEDFE" Guid="{1296CCF7-C82C-4D7A-8086-9742FD984D3B}">
                <File Id="filAD9E9715475C402D8927BFA29168E597" KeyPath="yes" Source="$(var.TargetDir)\Templates\Files\DjangoHtmlTemplate\DjangoHtml.zip" />
            </Component>


            <Component Id="cmpF5CD922636854E0693E5E6026EAFB17E" Directory="dir1BD051D972A14535AD8882E451431619" Guid="{92CB37C2-642A-49C1-AE9E-74041082B704}">
                <File Id="fil85464CF9C4D24E63B7FDEDA5FEEF5591" KeyPath="yes" Source="$(var.TargetDir)\Templates\Files\DjangoNewAppFiles\models.py" />
            </Component>
            <Component Id="cmpDA674C86F7E146D39F03122C53C5A1B5" Directory="dir1BD051D972A14535AD8882E451431619" Guid="{3F549A16-5014-46A4-ACD6-C88EB03AAC2E}">
                <File Id="filCE87CEFE21124FE790F09D597E53294E" KeyPath="yes" Source="$(var.TargetDir)\Templates\Files\DjangoNewAppFiles\tests.py" />
            </Component>
            <Component Id="cmp19044273ADE9455893A3AC12D4A8073A" Directory="dir1BD051D972A14535AD8882E451431619" Guid="{5B154E4D-06EF-41FC-9C3F-8651E71A8A7A}">
                <File Id="fil93C4F6D1EF3A41D981956710A6BDF30E" KeyPath="yes" Source="$(var.TargetDir)\Templates\Files\DjangoNewAppFiles\views.py" />
            </Component>
            <Component Id="cmp0F06AEC295824FFFA68A46911AB81953" Directory="dir1BD051D972A14535AD8882E451431619" Guid="{A34CF174-544C-4CCA-A538-11767A25C1F2}">
                <File Id="fil3B8D5539BD474652B696F861AEC7F272" KeyPath="yes" Source="$(var.TargetDir)\Templates\Files\DjangoNewAppFiles\__init__.py" />
            </Component>
            
            
            <Component Id="cmp713F43FC911740F58F249EC82C7A9313" Directory="Dir_PythonToolsMsBuild" Guid="{E191EBE8-37D1-4320-98CF-571675A57BB6}">
                <File Id="fil9CBB3D409E8F49C2B278CBE48F700F43" KeyPath="yes" Source="$(var.TargetDir)\wfastcgi.py" />
            </Component>
            <Component Id="cmp4FD921172E724700A7C19D19663D3FDE" Directory="Dir_PythonToolsMsBuild" Guid="{6CA3EDD5-E639-41D8-A063-1082659BA9DE}">
                <File Id="filC7455A97B04D4226B3D48288A5456A10" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.Django.targets" />
            </Component>

            <Component Id="cmp1FEFFD263DCA4D68A92B728C4B4AA381" Directory="Dir_PythonToolsMsBuild" Guid="{FBED67AB-7541-40A5-B775-DDFB5582C391}">
                <File Id="fil7D682D06949A44D283580BCE6C38ED68" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.WebRole.dll" />
            </Component>
            <Component Id="cmpB5F5D813C5064532B18AE23510C59445" Directory="Dir_PythonToolsMsBuild" Guid="{69BC20F5-7A60-41BC-AEAD-632388B532BC}" >
                <File Id="fil9FC854A330164BC08899E2EE5352F14B" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.AzureSetup.exe" />
            </Component>

            <!--
            <Component Id="cmpA8CF7125B38A48CB97967C6EC723F81F" Directory="Dir_PythonToolsAzureSdk" Guid="{AC38D433-5421-46C1-9162-04C61F18FCCE}" >
                <File Id="fil4CC7D3A9A5BD4981A83CEA73ED7D7289" KeyPath="yes" Source="$(var.TargetDir)\PythonTools.csplugin" />
            </Component>
            -->

        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF0D3CF56D8C94E078A27303E15108536">
            <Directory Id="dirDA7AFFEC217E48F596C479C46EAC4797" Name="Projects" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF0D3CF56D8C94E078A27303E15108536">
            <Directory Id="dirC3001A197C764F83A0D06485365F13EF" Name="Files" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirDA7AFFEC217E48F596C479C46EAC4797">
            <Directory Id="dir117EF6E430844404B5E87390FC3DFD4E" Name="DjangoProject" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC3001A197C764F83A0D06485365F13EF">
            <Directory Id="dir25D6546B68914D63B88D47F600FEEDFE" Name="DjangoHtmlTemplate" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC3001A197C764F83A0D06485365F13EF">
            <Directory Id="dir1BD051D972A14535AD8882E451431619" Name="DjangoNewAppFiles" />
        </DirectoryRef>
    </Fragment>
</Wix>