<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="IronPythonInterpreter" Language="1033" Version="1.0.0.0">
    <Package Id="52BFBDBC-3AAA-4C89-9420-B83ECEF328A7" Manufacturer="Microsoft Corporation" InstallerVersion="200" />

    <?include ..\MergeModule.wxi ?>

    <Component Id="PerUserInstallRegistry" Directory="Dir_VSInstallLocation" Guid="{B2C46CB0-DF28-4540-BC7F-29B0EA636055}">
      <Condition>NOT ALLUSERS = 1</Condition>
      <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\EnabledExtensions'>
        <RegistryValue Type='string' Name='0AC9CC8C-C057-4CFA-884B-0D4318BB2EFC,$(var.ReleaseVersion)' Value='[Dir_VSInstallLocation]'/>
      </RegistryKey>
      <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\ExtensionTypes'>
        <RegistryValue Type='string' Name='0AC9CC8C-C057-4CFA-884B-0D4318BB2EFC,$(var.ReleaseVersion)' Value='Tool'/>
      </RegistryKey>
    </Component>

    <ComponentGroupRef Id="CGroup_IronPythonFiles"/>
  </Module>
</Wix>
