<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define InstallLocationName = "IronPython Interpreter" ?>

  <Module Id="IronPythonInterpreter" Language="1033" Version="1.0.0.0">
    <Package Id="52BFBDBC-3AAA-4C89-9420-B83ECEF328A7" Manufacturer="Microsoft Corporation" InstallerVersion="200" />

    <?include ..\InstallPath.wxi ?>
    <?include ..\MergeModule.wxi ?>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="EXTENSION_INSTALLPATH">
        <Directory Id="_48ABEECB7E104253B82907FA93A3A324" Name="Extensions">
           <Directory Id="_42CE42D0B12F4D5DBD0FF6B42799150C" Name="Microsoft">
             <Directory Id="_B3593B26D51E4E91BED2317473CC5D85" Name="IronPython Interpreter">
               <Directory Id="INSTALLLOCATION" Name="2.1">
               </Directory>
             </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroupRef Id="IronPythonInterpreterVsExt"/>
  </Module>
</Wix>
