exclude README.txt
include LICENSE.txt
include setup.cfg
include setup.py2.cfg
include setup.py3.cfg
include Test-Pyvot.ps1
include Find-Python.ps1
graft doc
recursive-include test *.xlsx *.py
prune doc/html
prune non_shipping
prune docutils*