<?xml version="1.0" encoding="utf-8"?>
<!--
This file will modify web.config to enable remote debugging when publishing your project in the Debug configuration.
For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889
-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- The following setting is meant to protect the debugging endpoint against inadvertent access, and should be treated as a password. -->
    <add key="WSGI_PTVSD_SECRET" value="$secret$" xdt:Transform="Insert" />
  </appSettings>
  <!-- Required for websockets. -->
  <system.web xdt:Transform="InsertIfMissing" />
  <system.web>
    <httpRuntime xdt:Transform="InsertIfMissing" />
    <httpRuntime targetFramework="4.5" xdt:Transform="SetAttributes(targetFramework)" />
  </system.web>
  <system.webServer xdt:Transform="InsertIfMissing" />
  <system.webServer>
    <handlers xdt:Transform="InsertIfMissing" />
  </system.webServer>
  <system.webServer>
    <handlers>
      <add name="ptvsd" path="ptvsd" verb="*" resourceType="Unspecified"
           type="Microsoft.PythonTools.Debugger.WebSocketProxy, Microsoft.PythonTools.WebRole"
           xdt:Transform="InsertBefore(/configuration/system.webServer/handlers/add)" />
    </handlers>
  </system.webServer>
</configuration>
