<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.CommandLineUtils" version="1.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.1-beta1" targetFramework="net461" />
</packages>