<?xml version="1.0" encoding="utf-8"?>
<!--
This template is configured to use Python 3.5 on Azure App Service. To use a different version of Python,
or to use a hosting service other than Azure, replace the scriptProcessor path below with the path given
to you by wfastcgi-enable or your provider.

For Python 2.7 on Azure App Service, the path is "D:\home\Python27\python.exe|D:\home\Python27\wfastcgi.py"

The WSGI_HANDLER variable should be an importable variable or function (if followed by '()') that returns
your WSGI object.

See https://aka.ms/PythonOnAppService for more information.
-->
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.wsgi_app"/>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot"/>
    <add key="WSGI_LOG" value="D:\home\LogFiles\wfastcgi.log"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python35\python.exe|D:\home\Python35\wfastcgi.py" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
  </system.webServer>
</configuration>