<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Directory Id="dir436142373C244AC4A66B8C6ED1FC3150" Name="Templates" />
            <Directory Id="dirEB615C5BD073420189EF582A99D7486B" Name="PyKinect" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SamplesVsExt">
            <!-- Per user components -->
            <Component Id="PerUserInstallRegistry" Directory="INSTALLLOCATION" Guid="{9FD7D797-439F-4A33-9FB7-6FEB97CDF3CD}">
                <Condition>NOT ALLUSERS = 1</Condition>
                <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\EnabledExtensions'>
                    <RegistryValue Type='string' Name='83f5123e-4b4a-45c0-baec-bea8964d7b25,1.1' Value='[EXTENSION_INSTALLPATH]Extensions\Microsoft\Python Tools PyKinect Sample\1.1\'/>
                </RegistryKey>
            </Component>

            <!-- Both per user and all user components -->
            <Component Id="cmp60E9B8B5BE5D4DCF8E9A65468E8A0DFD" Directory="INSTALLLOCATION" Guid="{DE9294BC-F235-444C-8C81-7025975A6453}">
                <File Id="filAEBF2675DC85484597CE1BC916195DA3" KeyPath="yes" Source="$(var.ObjDir)\extension.vsixmanifest" />
            </Component>
            <Component Id="cmpB404FD9A0BF5439BB4886809A88078FE" Directory="INSTALLLOCATION" Guid="{39F04FA1-0286-4215-BD06-355B8A8884AC}">
                <File Id="filBE21456B2F6C420E9912E7600EEC863A" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.PyKinect.dll" />
            </Component>
            <Component Id="cmpEFE7B65F84524C6A83582DBEE4D9C3A6" Directory="INSTALLLOCATION" Guid="{E88283D3-884B-4DB1-ABDA-6035F02D0331}">
                <File Id="filD99E9EC7DC4245D8A49899A9AB980F01" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.PyKinect.pkgdef" />
            </Component>
            <Component Id="cmpEE6F7822BA6B46688EB4153D801FBC55" Directory="dir59239D18CB7D4212A63144179AC90432" Guid="{10E30EA3-5476-4F0B-BE03-E94E59BDF8C3}">
                <File Id="filF4E4D1649FD14DACA42D4CFCC3FE85F1" KeyPath="yes" Source="$(var.TargetDir)\Templates\Projects\PyKinectPyGame\KinectGame.zip" />
            </Component>
            <Component Id="cmp45D33C3A2C2B4DAE8DCD963EF7FB94A9" Directory="INSTALLLOCATION" Guid="{2A87D288-A96E-4655-9DAF-84EBE77B14DC}">
                <File Id="fil0ACC3F3FFDF345F7A329F278DA43D432" KeyPath="yes" Source="$(var.TargetDir)\PythonProject.ico" />
            </Component>
            <Component Id="cmp0376F73D3D794D8E9048317A852CC35C" Directory="INSTALLLOCATION" Guid="{5C126E3E-9490-475F-8D0A-6DFA8CF42C30}">
                <File Id="fil8D304F7EE8FA40499AA92DF27F2B782B" KeyPath="yes" Source="$(var.TargetDir)\PythonProjectBig.ico" />
            </Component>

            <!-- PyKinect -->
            <Component Id="cmp1C93172F885F4DD99C7964500627969A" Directory="dirEB615C5BD073420189EF582A99D7486B" Guid="{4F10D7DD-9477-476B-82FD-64C2E7B1F6B6}">
                <File Id="filF67506D8306F48638E60C07D61E42382" KeyPath="yes" Source="$(var.PyKinectDir)\PyKinect\setup.py" />
            </Component>

            <Component Id="cmp2F58E368BD3C40E3A68CE42A92ED5EB8" Directory="dirD024E1804578437F96ECD9F13F35BF80" Guid="{16C156D7-BF0E-458B-82E6-40D80951E9DD}">
                <File Id="fil1D9DD8E997DE4581BFC0A96EAF57022B" KeyPath="yes" Source="$(var.PyKinectDir)\PyKinect\pykinect\__init__.py" />
            </Component>

            <Component Id="cmpB87EDA8CF14B47EEAABC5E76A3465B0F" Directory="dirCABFC4921316431EBD358749000089A8" Guid="{D66B690C-A6C5-40DC-AE95-6A5B15D75787}">
                <File Id="filD36DF2FC5CA848838A65A062C87248B9" KeyPath="yes" Source="$(var.PyKinectDir)\PyKinect\pykinect\audio\__init__.py" />
            </Component>

            <Component Id="cmpF68B9718F51542FA90160A491D0C2011" Directory="dirCABFC4921316431EBD358749000089A8" Guid="{E502F82E-5C37-4A38-92CE-5B146ED9072F}">
                <File Id="filBEA11DEBBC8442CC9679CB238DF7E025" KeyPath="yes" Source="$(var.TargetDir)\PyKinectAudio.dll" />
            </Component>

            <Component Id="cmpC575A7D5F5CE40A799C21E11A7568ED0" Directory="dir88A5CB985C334A88981F7E1DA6D0EF4B" Guid="{6BB3B058-78C2-4CB7-ABD8-C5BF09A674A3}">
                <File Id="filDDF23C97F5C4441986AB65C0224E902C" KeyPath="yes" Source="$(var.PyKinectDir)\PyKinect\pykinect\nui\__init__.py" />
            </Component>

            <Component Id="cmpCF8FCC7CC6A64172BD4E9DB9DC51EC8C" Directory="dir88A5CB985C334A88981F7E1DA6D0EF4B" Guid="{ECCAA2B9-AFF8-4388-A82E-660C2F7F2752}">
                <File Id="fil1A2E91B60896434287181B7018330C4F" KeyPath="yes" Source="$(var.PyKinectDir)\PyKinect\pykinect\nui\structs.py" />
            </Component>
            
            <Component Id="cmpF3A20BE2E73C4A63942CA35412122E0A" Directory="dir88A5CB985C334A88981F7E1DA6D0EF4B" Guid="{DC959A84-F274-486C-B1B4-70C8EA46FFF0}">
                <File Id="filB277D9BF0DDC47E0AA577E7F1C6C91BB" KeyPath="yes" Source="$(var.PyKinectDir)\PyKinect\pykinect\nui\_interop.py" />
            </Component>

            <Component Id="cmpEEA42CAD3819432883D800891A45C1FC" Directory="dir2A04F814997C4D2F88133D144E5B3EEE" Guid="{ACB980A7-E2FD-4E36-8179-917936AB7814}">
                <File Id="filEF750F7644254166BBE4D8D97B40B300" KeyPath="yes" Source="$(var.PyKinectDir)\PyKinect\speech\__init__.py" />
            </Component>

            <Component Id="cmpA4760890FA8D4B25BB32FC268D753856" Directory="dir2A04F814997C4D2F88133D144E5B3EEE" Guid="{EB6BB542-D28C-47BB-BCDE-B0B6F9126C29}">
                <File Id="filAEB5A96EBBC644CEA03896016FB6F8AC" KeyPath="yes" Source="$(var.PyKinectDir)\PyKinect\speech\recognition.py" />
            </Component>

            <Component Id="cmp5D4D4389AA804F3F9A2E6B46F7582F40" Directory="dirEB615C5BD073420189EF582A99D7486B" Guid="{528B6F3B-9349-44F4-AFD9-6DD07CAE45DC}">
                <File Id="filA5A0360445134AE19E53C06238F35DE2" KeyPath="yes" Source="$(var.PyKinectDir)\LICENSE.txt" />
            </Component>


        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir436142373C244AC4A66B8C6ED1FC3150">
            <Directory Id="dir4CFC157C6EEC49548A5F0690FCC9B47B" Name="Projects" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4CFC157C6EEC49548A5F0690FCC9B47B">
            <Directory Id="dir59239D18CB7D4212A63144179AC90432" Name="PyKinectPyGame" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirEB615C5BD073420189EF582A99D7486B">
            <Directory Id="dirD024E1804578437F96ECD9F13F35BF80" Name="pykinect" />
            <Directory Id="dir2A04F814997C4D2F88133D144E5B3EEE" Name="speech" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirD024E1804578437F96ECD9F13F35BF80">
            <Directory Id="dirCABFC4921316431EBD358749000089A8" Name="audio" />
            <Directory Id="dir88A5CB985C334A88981F7E1DA6D0EF4B" Name="nui" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir55B286326A5D40B38CA619211B36E74C">
            <Directory Id="dir996AC28292904A2AAEB5BD3E7690E314" Name="xl" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir996AC28292904A2AAEB5BD3E7690E314">
            <Directory Id="dir20981893AF4A4AACB649D1963B5EC257" Name="_impl" />
        </DirectoryRef>
    </Fragment>

</Wix>