{% extends "layout.html" %}

{% block content %}

<h2>{{title}}.</h2>

<h3>Support</h3>
<address>
    <strong>Python support for Visual Studio:</strong> <a href="https://aka.ms/ptvs" target="_blank">https://aka.ms/ptvs</a><br />
</address>

<h3>Links</h3>
<address>
    <strong>Flask:</strong> <a href="http://flask.pocoo.org/" target="_blank">http://flask.pocoo.org/</a><br />
    <strong>Microsoft Azure:</strong> <a href="http://azure.microsoft.com/" target="_blank">http://azure.microsoft.com/</a><br />
    <strong>Table Storage:</strong> <a href="http://azure.microsoft.com/en-us/documentation/articles/storage-python-how-to-use-table-storage/" target="_blank">http://azure.microsoft.com/en-us/documentation/articles/storage-python-how-to-use-table-storage/</a><br />
    <strong>PyMongo:</strong> <a href="http://api.mongodb.org/python/current/" target="_blank">http://api.mongodb.org/python/current/</a><br />
</address>

{% endblock %}
