<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="PythonHpc" Language="1033" Version="1.0.0.0">
    <Package Id="EE61D3B2-4D07-4EDE-84CE-1338B956ABF0" Manufacturer="Microsoft Corporation" InstallerVersion="200" />

    <?include ..\MergeModule.wxi ?>

    <Component Id="PerUserInstallRegistry" Directory="Dir_VSInstallLocation" Guid="{ACF2F490-204B-4546-81EA-7CAC8750AC1C}">
      <Condition>NOT ALLUSERS = 1</Condition>
      <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\EnabledExtensions'>
        <RegistryValue Type='string' Name='413E24B0-F748-48D4-B638-01D121A88A04,$(var.ReleaseVersion)' Value='[Dir_VSInstallLocation]'/>
      </RegistryKey>
      <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\ExtensionTypes'>
        <RegistryValue Type='string' Name='413E24B0-F748-48D4-B638-01D121A88A04,$(var.ReleaseVersion)' Value='Tool'/>
      </RegistryKey>
    </Component>

    <ComponentGroupRef Id="CGroup_HpcFiles"/>
  </Module>
</Wix>
