<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IncludeModulesFromModulePath" value="win32com"/>
    <add key="PackageOrder" value="six;numpy;scipy;msrest;msrestazure"/>
    <add key="sympy.CallDepth" value="0"/>
    <add key="matplotlib.CallDepth" value="3"/>
    <add key="pandas.CallDepth" value="0"/>
    <add key="astropy.CallDepth" value="0"/>
    <add key="delphixpy.CallDepth" value="0"/>
  </appSettings>
</configuration>