<?xml version="1.0" encoding="utf-8"?>
<!--
This template is configured to use Python on Azure Cloud Service. You will need to move it into the
root of your web site so it will be recognized by IIS.

The %FASTCGIHANDLER% variable is automatically replaced by the ConfigureCloudService.ps1 script. No
other variable substitutions are made within this file.

Add to appSettings to set environment variables for your web role. For example, adding PYTHONPATH will
specify search paths to be used when importing modules:

  <appSettings>
    <add key="PYTHONPATH" value="your paths here"/>
    ...
  </appSettings>

The WSGI_HANDLER app setting should be an importable variable or function (if followed by '()') that
returns your WSGI object.
-->
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.wsgi_app"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="%FASTCGIHANDLER%" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
  </system.webServer>
</configuration>