<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include TCTestHostAdaptersVars.wxi ?>
  <Fragment>
    <!-- Properties -->
    <Property Id="VSINSTALLDIR">
      <RegistrySearch Id="VS2005IdeInstallDir" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\$(var.VsRegistryVersion)" Name="InstallDir" Type="raw" />
    </Property>
    <Property Id="VSIDETESTHOST_TEAMSUITE">
      <RegistrySearch Id="VsIdeTestHostTeamSuite" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\$(var.VsRegistryVersion)\Setup\VS\VSTS" Name="ProductDir" Type="raw" />
    </Property>
    <Property Id="VSIDETESTHOST_TEAMDEV">
      <RegistrySearch Id="VsIdeTestHostTeamDev" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\$(var.VsRegistryVersion)\Setup\VS\VSTD" Name="ProductDir" Type="raw" />
    </Property>
    <Property Id="VSIDETESTHOST_TEAMTEST">
      <RegistrySearch Id="VsIdeTestHostTeamTest" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\$(var.VsRegistryVersion)\Setup\VS\VSTT" Name="ProductDir" Type="raw" />
    </Property>

    <!-- Directories -->
    <DirectoryRef Id="TARGETDIR">
      <!-- One of the per-machine directories Visual Studio searchings for .Addin files -->
      <Directory Id="CommonAppDataFolder">
        <Directory Id="MSCommonAppData" Name="Microsoft" >
          <Directory Id="MSEnvCommonAppData" Name="MSEnvShared" >
            <Directory Id="DIR_ADDINS" Name="Addins" />
          </Directory>
        </Directory>
      </Directory>
      <!-- VS install dir replaced by RegistrySearch -->
      <Directory Id="VSINSTALLDIR" Name="VS2005" />
    </DirectoryRef>

    <!-- All the components in this fragment -->
    <ComponentGroup Id="VsIdeTestHostComponentGroup">
      <ComponentRef Id="C_VsIdeTestHostAddinXml" />
      <ComponentRef Id="C_VsIdeTestHostFrameworkDll" />
      <ComponentRef Id="C_VSIdeTestHostAddinDll" />
      <ComponentRef Id="C_RemoteTestDll" />
      <ComponentRef Id="C_RemoteTestTlb" />
      <?if $(var.IncludePdb) = 1 ?>
      <ComponentRef Id="C_VSIdeTestHostFrameworkPdb" />
      <ComponentRef Id="C_VSIdeTestHostAddinPdb" />
      <?endif ?>
    </ComponentGroup>

    <!-- Components: files and registry entries -->
    <DirectoryRef Id="DIR_ADDINS">
      <Component Id="C_VsIdeTestHostAddinXml" Guid="$(var.C_VsIdeTestHostAddinXml_Guid)">
        <Condition>VSIDETESTHOST_TEAMSUITE OR VSIDETESTHOST_TEAMDEV OR VSIDETESTHOST_TEAMTEST</Condition>
        <File Id="VsIdeTestHostAddinFile" Name="$(var.VsAddinName).AddIn" Vital="yes" DiskId="1" Source="$(var.VsAddinName).AddIn" />
        <util:XmlFile Id="AddAssemblyElement" Action="setValue" File="[#VsIdeTestHostAddinFile]" ElementPath="/Extensibility/Addin/Assembly" Value="[#VSIdeAddinDllFile]" Sequence="1" />
        <util:XmlFile Id="AddinNameElement" Action="setValue" File="[#VsIdeTestHostAddinFile]" ElementPath="/Extensibility/Addin/FriendlyName" Value="$(var.VsAddinName)" Sequence="1" />
      </Component>
    </DirectoryRef>

    <!-- VSINSTALLDIR: Files under Visual Studio IDE folder -->
    <DirectoryRef Id="VSINSTALLDIR">
      <!-- How Framework.dll is installed:
        - PublicAssemblies: Framework.dll and .pdb. Note that VS probing path tries PublicAssemblies first, then PrivateAssemblies.
        - Nothing need to go to PrivateAssemblies because devenv, mstest and vstesthost are configured to load from PublicAsseblies.
      -->
      <Directory Id="PublicAssemblies" Name="PublicAssemblies" >
        <Component Id="C_VsIdeTestHostFrameworkDll" Guid="$(var.C_VsIdeTestHostFrameworkDll_Guid)">
          <Condition>VSIDETESTHOST_TEAMSUITE OR VSIDETESTHOST_TEAMDEV OR VSIDETESTHOST_TEAMTEST</Condition>
          <File Id="VsIdeTestHostFrameworkDllFile" Name="$(var.VsIdeFrameworkAssembly).dll" Vital="yes" DiskId="1" Source="$(var.BinDir)\$(var.VsIdeFrameworkAssembly).dll" />
        </Component>
        <?if $(var.IncludePdb) = 1 ?>
        <Component Id="C_VSIdeTestHostFrameworkPdb" Guid="$(var.C_VSIdeTestHostFrameworkPdb_Guid)">
          <Condition>VSIDETESTHOST_TEAMSUITE OR VSIDETESTHOST_TEAMDEV OR VSIDETESTHOST_TEAMTEST</Condition>
          <File Id="VSIdeTestHostFrameworkPdbFile" Name="$(var.VsIdeFrameworkAssembly).pdb" Vital="yes" DiskId="1" Source="$(var.BinDir)\$(var.VsIdeFrameworkAssembly).pdb" />
        </Component>
        <?endif ?>
        <Component Id="C_RemoteTestDll" Guid="$(var.C_RemoteTestDll_Guid)">
          <Condition>VSIDETESTHOST_TEAMSUITE OR VSIDETESTHOST_TEAMDEV OR VSIDETESTHOST_TEAMTEST</Condition>
          <File Id="RemoteTestDllFile" Name="$(var.RemoteTestAssembly).dll" Vital="yes" DiskId="1" Source="$(var.BinDir)\$(var.RemoteTestAssembly).dll" />
          <!-- Remote Test COM-->
          <!--    IRemoteTest
          -->
          <RegistryKey Root="HKCR" Key="Interface\{$(var.IRemoteTestGuid)}" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="IRemoteTest" />
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="Interface\{$(var.IRemoteTestGuid)}\ProxyStubClsid32" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="{00020424-0000-0000-C000-000000000046}" />
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="Interface\{$(var.IRemoteTestGuid)}\TypeLib" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="{$(var.RemoteTestTypeLibGuid)}" />
            <RegistryValue Name="Version" Type="string" Value="1.0" />
          </RegistryKey>
          <!--    IRemoteTestProvider -->
          <RegistryKey Root="HKCR" Key="Interface\{$(var.IRemoteTestProviderGuid)}" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="Microsoft.TC.RemoteTest.IRemoteTestProvider" />
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="Interface\{$(var.IRemoteTestProviderGuid)}\ProxyStubClsid32" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="{00020424-0000-0000-C000-000000000046}" />
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="Interface\{$(var.IRemoteTestProviderGuid)}\TypeLib" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="{$(var.RemoteTestTypeLibGuid)}" />
            <RegistryValue Name="Version" Type="string" Value="1.0" />
          </RegistryKey>
          <!--    Remote Test Component -->
          <RegistryKey Root="HKCR" Key="CLSID\{$(var.RemoteTestComponentGuid)}" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="Microsoft.TC.RemoteTest.RemoteTestComponent" />
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="CLSID\{$(var.RemoteTestComponentGuid)}\Implemented Categories" Action="createAndRemoveOnUninstall">
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="CLSID\{$(var.RemoteTestComponentGuid)}\Implemented Categories\{$(var.IRemoteTestGuid)}" Action="createAndRemoveOnUninstall">
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="CLSID\{$(var.RemoteTestComponentGuid)}\InprocServer32" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="mscoree.dll" />
            <RegistryValue Name="Assembly" Type="string" Value="$(var.RemoteTestAssembly), Version=1.0.0.0, Culture=neutral, PublicKeyToken=$(var.PublicKeyToken)" />
            <RegistryValue Name="Class" Type="string" Value="Microsoft.TC.RemoteTest.RemoteTestComponent" />
            <RegistryValue Name="CodeBase" Type="string" Value="file:///[#RemoteTestDllFile]" />
            <RegistryValue Name="RuntimeVersion" Type="string" Value="v4.0.30319" />
            <RegistryValue Name="ThreadingModel" Type="string" Value="Both" />
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="CLSID\{$(var.RemoteTestComponentGuid)}\InprocServer32\1.0.0.0" Action="createAndRemoveOnUninstall">
            <RegistryValue Name="Assembly" Type="string" Value="$(var.RemoteTestAssembly), Version=1.0.0.0, Culture=neutral, PublicKeyToken=$(var.PublicKeyToken)" />
            <RegistryValue Name="Class" Type="string" Value="Microsoft.TC.RemoteTest.RemoteTestComponent" />
            <RegistryValue Name="CodeBase" Type="string" Value="file:///[#RemoteTestDllFile]" />
            <RegistryValue Name="RuntimeVersion" Type="string" Value="v4.0.30319" />
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="CLSID\{$(var.RemoteTestComponentGuid)}\ProgId" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="Microsoft.TC.RemoteTest.RemoteTestComponent" />
          </RegistryKey>
          <!--     DefaultRemoteTestProvider -->
          <RegistryKey Root="HKCR" Key="CLSID\{$(var.DefaultRemoteTestProviderGuid)}" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="Microsoft.TC.RemoteTest.DefaultRemoteTestProvider" />
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="CLSID\{$(var.DefaultRemoteTestProviderGuid)}\Implemented Categories" Action="createAndRemoveOnUninstall">
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="CLSID\{$(var.DefaultRemoteTestProviderGuid)}\Implemented Categories\{$(var.IRemoteTestProviderGuid)}" Action="createAndRemoveOnUninstall">
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="CLSID\{$(var.DefaultRemoteTestProviderGuid)}\InprocServer32" Action="createAndRemoveOnUninstall">
            <RegistryValue Name="Assembly" Type="string" Value="$(var.RemoteTestAssembly), Version=1.0.0.0, Culture=neutral, PublicKeyToken=$(var.PublicKeyToken)" />
            <RegistryValue Name="Class" Type="string" Value="Microsoft.TC.RemoteTest.DefaultRemoteTestProvider" />
            <RegistryValue Name="CodeBase" Type="string" Value="file:///[#RemoteTestDllFile]" />
            <RegistryValue Type="string" Value="mscoree.dll" />
            <RegistryValue Name="RuntimeVersion" Type="string" Value="v4.0.30319" />
            <RegistryValue Name="ThreadingModel" Type="string" Value="Both" />
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="CLSID\{$(var.DefaultRemoteTestProviderGuid)}\InprocServer32\1.0.0.0" Action="createAndRemoveOnUninstall">
            <RegistryValue Name="Assembly" Type="string" Value="$(var.RemoteTestAssembly), Version=1.0.0.0, Culture=neutral, PublicKeyToken=$(var.PublicKeyToken)" />
            <RegistryValue Name="Class" Type="string" Value="Microsoft.TC.RemoteTest.DefaultRemoteTestProvider" />
            <RegistryValue Name="CodeBase" Type="string" Value="file:///[#RemoteTestDllFile]" />
            <RegistryValue Name="RuntimeVersion" Type="string" Value="v4.0.30319" />
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="CLSID\{$(var.DefaultRemoteTestProviderGuid)}\ProgId" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="Microsoft.TC.RemoteTest.DefaultRemoteTestProvider" />
          </RegistryKey>
        </Component>
        <Component Id="C_RemoteTestTlb" Guid="$(var.C_RemoteTestTlb_Guid)">
          <Condition>VSIDETESTHOST_TEAMSUITE OR VSIDETESTHOST_TEAMDEV OR VSIDETESTHOST_TEAMTEST</Condition>
          <File Id="RemoteTestTlbFile" Name="$(var.RemoteTestAssembly).tlb" Vital="yes" DiskId="1" Source="$(var.BinDir)\$(var.RemoteTestAssembly).tlb" >
            <!--
            <TypeLib Id="{83E70189-49E0-48EC-8DC4-2BCB2F09A318}" Description="Microsoft_TC_RemoteTest" HelpDirectory="PublicAssemblies" Language="0" MajorVersion="1" MinorVersion="0">
              <Interface Id="{$(var.IRemoteTestGuid)}" Name="IRemoteTest" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" />
              <Interface Id="{$(var.IRemoteTestProviderGuid)}" Name="IRemoteTestProvider" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" />
            </TypeLib>
            -->
          </File>
          <RegistryKey Root="HKCR" Key="TypeLib\{$(var.RemoteTestTypeLibGuid)}" Action="createAndRemoveOnUninstall">
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="TypeLib\{$(var.RemoteTestTypeLibGuid)}\1.0" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="Microsoft_TC_RemoteTest" />
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="TypeLib\{$(var.RemoteTestTypeLibGuid)}\1.0\0\win32" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="[#RemoteTestTlbFile]" />
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="TypeLib\{$(var.RemoteTestTypeLibGuid)}\1.0\FLAGS" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="0" />
          </RegistryKey>
          <!-- Want to refer to the directory here, but Wix does not seem to support it
          <RegistryKey Root="HKCR" Key="TypeLib\{$(var.RemoteTestTypeLibGuid)}\1.0\HELPDIR" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="[#PublicAssemblies]" />
          </RegistryKey>
          -->
        </Component>
      </Directory>
      <Directory Id="PrivateAssemblies" Name="PrivateAssemblies" >
        <Component Id="C_VSIdeTestHostAddinDll" Guid="$(var.C_VSIdeTestHostAddinDll_Guid)">
          <Condition>VSIDETESTHOST_TEAMSUITE OR VSIDETESTHOST_TEAMDEV OR VSIDETESTHOST_TEAMTEST</Condition>
          <File Id="VSIdeAddinDllFile" Name="$(var.VsIdeHostAssembly).dll" Vital="yes" DiskId="1" Source="$(var.BinDir)\$(var.VsIdeHostAssembly).dll" />
          <!-- VS Addin COM-->
          <RegistryKey Root="HKCR" Key="CLSID\{$(var.VsIdeTestHostAddinGuid)}" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="Microsoft.TC.TestHostAdapters.VsIdeTestHostAddin" />
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="CLSID\{$(var.VsIdeTestHostAddinGuid)}\InprocServer32" Action="createAndRemoveOnUninstall">
            <RegistryValue Name="Assembly" Type="string" Value="$(var.VsIdeHostAssembly), Version=$(var.VsRegistryVersion).0.0, Culture=neutral, PublicKeyToken=$(var.PublicKeyToken)" />
            <RegistryValue Name="Class" Type="string" Value="Microsoft.TC.TestHostAdapters.VsIdeTestHostAddin" />
            <RegistryValue Type="string" Value="mscoree.dll" />
            <RegistryValue Name="RuntimeVersion" Type="string" Value="v2.0.51207" />
            <RegistryValue Name="ThreadingModel" Type="string" Value="Both" />
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="CLSID\{$(var.VsIdeTestHostAddinGuid)}\InprocServer32\$(var.VsRegistryVersion).0.0" Action="createAndRemoveOnUninstall">
            <RegistryValue Name="Assembly" Type="string" Value="$(var.VsIdeHostAssembly), Version=$(var.VsRegistryVersion).0.0, Culture=neutral, PublicKeyToken=$(var.PublicKeyToken)" />
            <RegistryValue Name="Class" Type="string" Value="Microsoft.TC.TestHostAdapters.VsIdeTestHostAddin" />
            <RegistryValue Name="RuntimeVersion" Type="string" Value="v2.0.51207" />
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="CLSID\{$(var.VsIdeTestHostAddinGuid)}\ProgId" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="Microsoft.TC.TestHostAdapters.VsIdeTestHostAddin" />
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="Microsoft.TC.TestHostAdapters.VsIdeTestHostAddin" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="Microsoft.TC.TestHostAdapters.VsIdeTestHostAddin" />
          </RegistryKey>
          <RegistryKey Root="HKCR" Key="Microsoft.TC.TestHostAdapters.VsIdeTestHostAddin\CLSID" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="{$(var.VsIdeTestHostAddinGuid)}" />
          </RegistryKey>
          <!-- VS Host Adapter -->
          <RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\$(var.VsRegistryVersion)\EnterpriseTools\QualityTools\HostAdapters\$(var.VsIdeAdapterName)" Action="createAndRemoveOnUninstall">
            <RegistryValue Name="EditorType" Type="string" Value="Microsoft.TC.TestHostAdapters.RunConfigControl, $(var.VsIdeHostAssembly)" />
            <RegistryValue Name="Type" Type="string" Value="Microsoft.TC.TestHostAdapters.VsIdeHostAdapter, $(var.VsIdeHostAssembly)" />
          </RegistryKey>
          <RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\$(var.VsRegistryVersion)\EnterpriseTools\QualityTools\HostAdapters\$(var.VsIdeAdapterName)\SupportedTestTypes" Action="createAndRemoveOnUninstall">
            <RegistryValue Name="{$(var.UnitTestTypeGuid)}" Type="string" Value="Unit Test" />
          </RegistryKey>
          <RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\$(var.VsRegistryVersion)\EnterpriseTools\QualityTools\Xml\http://microsoft.com/schemas/VisualStudio/TeamTest/2006\ElementToClass" Action="createAndRemoveOnUninstall" >
            <RegistryValue Name="VsIdeTestHostRunConfig" Type="string" Value="Microsoft.TC.TestHostAdapters.RunConfigData, $(var.VsIdeHostAssembly)" />
          </RegistryKey>
          <!-- MTA Host Adapter -->
          <RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\$(var.VsRegistryVersion)\EnterpriseTools\QualityTools\HostAdapters\$(var.MtaAdapterName)" Action="createAndRemoveOnUninstall">
            <RegistryValue Name="Type" Type="string" Value="Microsoft.TC.TestHostAdapters.MtaHostAdapter, $(var.VsIdeHostAssembly)" />
          </RegistryKey>
          <RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\$(var.VsRegistryVersion)\EnterpriseTools\QualityTools\HostAdapters\$(var.MtaAdapterName)\SupportedTestTypes" Action="createAndRemoveOnUninstall">
            <RegistryValue Name="{$(var.UnitTestTypeGuid)}" Type="string" Value="Unit Test" />
          </RegistryKey>
          <!-- MTA Dynamic Adapter -->
          <RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\$(var.VsRegistryVersion)\EnterpriseTools\QualityTools\HostAdapters\$(var.DynamicAdapterName)" Action="createAndRemoveOnUninstall">
            <RegistryValue Name="Type" Type="string" Value="Microsoft.TC.TestHostAdapters.DynamicHostAdapter, $(var.VsIdeHostAssembly)" />
          </RegistryKey>
          <RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\$(var.VsRegistryVersion)\EnterpriseTools\QualityTools\HostAdapters\$(var.DynamicAdapterName)\SupportedTestTypes" Action="createAndRemoveOnUninstall">
            <RegistryValue Name="{$(var.UnitTestTypeGuid)}" Type="string" Value="Unit Test" />
          </RegistryKey>
          <!-- Common -->
          <RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\$(var.VsRegistryVersion)\EnterpriseTools\QualityTools\TestTypes\{$(var.UnitTestTypeGuid)}\SupportedHostAdapters" Action="createAndRemoveOnUninstall">
            <RegistryValue Name="$(var.VsIdeAdapterName)" Type="string" Value="VS Ide Host Adapter" />
            <RegistryValue Name="$(var.MtaAdapterName)" Type="string" Value="MTA Host Adapter" />
            <RegistryValue Name="$(var.DynamicAdapterName)" Type="string" Value="Dynamic Host Adapter" />
          </RegistryKey>
          <RegistryKey Root="HKLM" Key="$(var.TestAdaptersKey)" Action="createAndRemoveOnUninstall">
            <RegistryValue Name="$(var.TestAdaptersRevisionProperty)" Type="integer" Value="$(var.TestAdaptersRevision)" />
          </RegistryKey>
        </Component>
        <?if $(var.IncludePdb) = 1 ?>
        <Component Id="C_VSIdeTestHostAddinPdb" Guid="$(var.C_VSIdeTestHostAddinPdb_Guid)">
          <Condition>VSIDETESTHOST_TEAMSUITE OR VSIDETESTHOST_TEAMDEV OR VSIDETESTHOST_TEAMTEST</Condition>
          <File Id="VSIdeAddinPdbFile" Name="$(var.VsIdeHostAssembly).pdb" Vital="yes" DiskId="1" Source="$(var.BinDir)\$(var.VsIdeHostAssembly).pdb" />
        </Component>
        <?endif ?>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>