<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:dep="http://schemas.microsoft.com/wix/DependencyExtension">
  <?include PythonToolsInstallerVars.wxi ?>
  
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.MsiVersion)" Manufacturer="Microsoft Corporation" UpgradeCode="$(var.InstallerUpgradeGuid)">
    <Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade AllowDowngrades="no" AllowSameVersionUpgrades="yes" DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
    <PropertyRef Id="UpgradeVersionsDummyProperty" />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <!-- Detect other installed software (IronPython, HPC pack) and set the
         install level of the feature to 2 if they're not installed. This will
         cause them to be unselected by default. -->
    <Property Id="INSTALLLEVEL" Value="1"/>

    <!-- Conditions for install -->
    <?if "$(var.IncludeHpc)" ~= "True" ?>
    <PropertyRef Id="HPC_CLIENT_INSTALLED"/>
    <?endif ?>
    
    <?ifdef CheckPTVS15PerUser ?>
    <PropertyRef Id="PTVS_15_PERUSER"/>
    <Condition Message="!(loc.PTVS15PerUserInstalled)">NOT PTVS_15_PERUSER OR Installed</Condition>
    <?endif ?>
    
    <PropertyRef Id="IPYTOOLS_INSTALLED"/>
    <Condition Message="!(loc.IronPythonToolsInstalled)">NOT IPYTOOLS_INSTALLED OR REMOVE ~= "ALL"</Condition>
    
    <PropertyRef Id="VS_PRERELEASE"/>
    <Condition Message="!(loc.VSPrerelease)"> NOT VS_PRERELEASE OR Installed </Condition>
    
    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="!(loc.NetFx45NotInstalled)"> NETFRAMEWORK45 OR Installed </Condition>
    
    <PropertyRef Id="VSINSTALLPATH"/>
    <PropertyRef Id="WDINSTALLPATH"/>
    <PropertyRef Id="VWDINSTALLPATH"/>
    <PropertyRef Id="DEVENV_PATH"/>
    <PropertyRef Id="WDEXPRESS_PATH"/>
    <PropertyRef Id="VWDEXPRESS_PATH"/>

    <!-- At least one installation path means some version is installed. -->
    <Condition Message="!(loc.NoInstallPath)">
      VSINSTALLPATH OR WDINSTALLPATH OR VWDINSTALLPATH OR Installed
    </Condition>
    <!-- At least one executable path means a suitable version is installed. -->
    <!-- Skip this message if WD's install path was not found -->
    <Condition Message="!(loc.WDInstallPathButNoExe)">
      DEVENV_PATH OR WDEXPRESS_PATH OR VWDEXPRESS_PATH OR NOT WDINSTALLPATH OR Installed
    </Condition>
    <!-- Skip this message if VWD's install path was not found -->
    <Condition Message="!(loc.VWDInstallPathButNoExe)">
      DEVENV_PATH OR WDEXPRESS_PATH OR VWDEXPRESS_PATH OR NOT VWDINSTALLPATH OR Installed
    </Condition>
    <!-- Always show this message if there are no suitable versions -->
    <Condition Message="!(loc.NoExePath)">
      DEVENV_PATH OR WDEXPRESS_PATH OR VWDEXPRESS_PATH OR Installed
    </Condition>

    <!-- Include an icon for the Programs and Features dialog -->
    <Icon Id="ARPIcon" SourceFile="Icon$(var.VSTargetVersion).ico" />
    <Property Id="ARPPRODUCTICON" Value="ARPIcon" />

    <!-- This location is the directory that PythonTools.msm will install into.
         We use it to reference some installed files. -->
    <DirectoryRef Id="Dir_VSExtensions">
      <Directory Id="Dir_PTVSInstallLocationParent" Name="Python Tools for Visual Studio">
        <Directory Id="Dir_PTVSInstallLocation" Name="$(var.ReleaseVersion)" />
      </Directory>
    </DirectoryRef>

    <PropertyRef Id="VSLAUNCHER"/>

    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="Dir_StartMenu" Name="!(loc.ProductName) !(loc.ForVisualStudio)">
          <Component Id="Comp_ProgramMenuFolder" Guid="$(var.Comp_ProgramMenuFolder)">
            <RemoveFolder Id='DeleteDir_StartMenu' Directory='Dir_StartMenu' On='uninstall'/>
            <RegistryKey Root="HKMU" Key="Software\Microsoft\PythonTools\$(var.VSTargetVersion)">
              <RegistryValue Type="string" Name="InstallDir" Value="[Dir_PTVSInstallLocation]" KeyPath="yes"/>
              <RegistryValue Type="string" Name="Version" Value="[ProductVersion]" />
            </RegistryKey>
            <util:RestartResource Path="[DEVENV_PATH]" />
            <util:RestartResource Path="[WDEXPRESS_PATH]" />
            <util:RestartResource Path="[VWDEXPRESS_PATH]" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>

    <DirectoryRef Id="Dir_PTVSInstallLocation">
      <!-- Double click to open Python projects with Visual Studio -->
      <Component Id="Comp_PyProjRegistration" DiskId="1" Guid="$(var.Comp_PyProjRegistrationGuid)">
        <RegistryValue Root='HKCR' Key='.pyproj' Type='string' Name='PerceivedType' Value='text' />
        <RegistryValue Root='HKCR' Key='VisualStudio.Launcher.pyproj.$(var.VSTargetVersion)\DefaultIcon' Type='string' Value='[Dir_PTVSInstallLocation]\PythonProject.ico' />

        <ProgId Id="VisualStudio.Launcher.pyproj.$(var.VSTargetVersion)" Description="Python Project">
          <Extension Id="pyproj" ContentType="text/plain">
            <Verb Id="Open" Command="Open" TargetProperty="VSLAUNCHER" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
      </Component>

      <!-- Open with Visual Studio context menu -->
      <Component Id="Comp_VSPyFileProgId" Guid="$(var.Comp_VSPyFileProgIdGuid)">
        <Condition>DEVENV_PATH</Condition>
        <!-- Manually writing the ProgId so we can add DDE info -->
        <RegistryKey Root='HKCR' Key='VisualStudio.py.$(var.VSTargetVersion)'>
          <RegistryValue Type='string' Value='Python source file' />

          <RegistryKey Key='DefaultIcon'>
            <RegistryValue Type='string' Value="[Dir_PTVSInstallLocation]\PythonFile.ico" />
          </RegistryKey>

          <RegistryKey Key='shell\open'>
            <RegistryValue Key='Command' Type='string' Value='"[DEVENV_PATH]" /dde "%1"' />

            <RegistryValue Key='ddeexec' Type='string' Value='Open("%1")' />
            <RegistryValue Key='ddeexec\Application' Type='string' Value='VisualStudio.$(var.VSTargetVersion)' />
            <RegistryValue Key='ddeexec\Topic' Type='string' Value='system' />
          </RegistryKey>
        </RegistryKey>

        <RegistryValue Root='HKCR' Key='.py\OpenWithProgids' Name='VisualStudio.py.$(var.VSTargetVersion)' Type='string' Value='' />
        <RegistryValue Root='HKCR' Key='.pyw\OpenWithProgids' Name='VisualStudio.py.$(var.VSTargetVersion)' Type='string' Value='' />
      </Component>

      <!-- Open with WDExpress context menu -->
      <Component Id="Comp_WDPyFileProgId" Guid="$(var.Comp_WDPyFileProgIdGuid)">
        <Condition>WDEXPRESS_PATH</Condition>
        <!-- Manually writing the ProgId so we can add DDE info -->
        <RegistryKey Root='HKCR' Key='WDExpress.py.$(var.VSTargetVersion)'>
          <RegistryValue Type='string' Value='Python source file' />

          <RegistryKey Key='DefaultIcon'>
            <RegistryValue Type='string' Value="[Dir_PTVSInstallLocation]\PythonFile.ico" />
          </RegistryKey>

          <RegistryKey Key='shell\open'>
            <RegistryValue Key='Command' Type='string' Value='"[WDEXPRESS_PATH]" /dde "%1"' />

            <RegistryValue Key='ddeexec' Type='string' Value='Open("%1")' />
            <RegistryValue Key='ddeexec\Application' Type='string' Value='WDExpress.$(var.VSTargetVersion)' />
            <RegistryValue Key='ddeexec\Topic' Type='string' Value='system' />
          </RegistryKey>
        </RegistryKey>

        <RegistryValue Root='HKCR' Key='.py\OpenWithProgids' Name='WDExpress.py.$(var.VSTargetVersion)' Type='string' Value='' />
        <RegistryValue Root='HKCR' Key='.pyw\OpenWithProgids' Name='WDExpress.py.$(var.VSTargetVersion)' Type='string' Value='' />
      </Component>

      <!-- Open with Visual Studio context menu -->
      <Component Id="Comp_VWDPyFileProgId" Guid="$(var.Comp_VWDPyFileProgIdGuid)">
        <Condition>VWDEXPRESS_PATH</Condition>
        <!-- Manually writing the ProgId so we can add DDE info -->
        <RegistryKey Root='HKCR' Key='VWDExpress.py.$(var.VSTargetVersion)'>
          <RegistryValue Type='string' Value='Python source file' />

          <RegistryKey Key='DefaultIcon'>
            <RegistryValue Type='string' Value="[Dir_PTVSInstallLocation]\PythonFile.ico" />
          </RegistryKey>

          <RegistryKey Key='shell\open'>
            <RegistryValue Key='Command' Type='string' Value='"[VWDEXPRESS_PATH]" /dde "%1"' />

            <RegistryValue Key='ddeexec' Type='string' Value='Open("%1")' />
            <RegistryValue Key='ddeexec\Application' Type='string' Value='VWDExpress.$(var.VSTargetVersion)' />
            <RegistryValue Key='ddeexec\Topic' Type='string' Value='system' />
          </RegistryKey>
        </RegistryKey>

        <RegistryValue Root='HKCR' Key='.py\OpenWithProgids' Name='VWDExpress.py.$(var.VSTargetVersion)' Type='string' Value='' />
        <RegistryValue Root='HKCR' Key='.pyw\OpenWithProgids' Name='VWDExpress.py.$(var.VSTargetVersion)' Type='string' Value='' />
      </Component>

      <?if "$(var.VSTargetVersion)" = "10.0" or "$(var.VSTargetVersion)" = "11.0" or "$(var.VSTargetVersion)" = "12.0" ?>
      <Merge Id="Merge_ReplWindow" Language="1033" SourceFile="ReplWindow.msm" DiskId="1">
        <?foreach key in VS;WD;VWD?>
        <ConfigurationData Name="Config_$(var.key)ExtensionsParent" Value="Dir_$(var.key)Extensions" />
        <ConfigurationData Name="Config_$(var.key)TemplatesParent" Value="Dir_$(var.key)Templates"/>
        <?endforeach?>
        <ConfigurationData Name="Config_MSBuildLocation" Value="Dir_MSBuildTargets"/>
      </Merge>
      <?endif ?>
      <Merge Id="Merge_Profiling" Language="1033" SourceFile="Profiling.msm" DiskId="1">
        <?foreach key in VS;WD;VWD?>
        <ConfigurationData Name="Config_$(var.key)ExtensionsParent" Value="Dir_$(var.key)Extensions" />
        <ConfigurationData Name="Config_$(var.key)TemplatesParent" Value="Dir_$(var.key)Templates"/>
        <?endforeach?>
        <ConfigurationData Name="Config_MSBuildLocation" Value="Dir_MSBuildTargets"/>
      </Merge>
      <Merge Id="Merge_Django" Language="1033" SourceFile="Django.msm" DiskId="1">
        <?foreach key in VS;WD;VWD?>
        <ConfigurationData Name="Config_$(var.key)ExtensionsParent" Value="Dir_$(var.key)Extensions" />
        <ConfigurationData Name="Config_$(var.key)TemplatesParent" Value="Dir_$(var.key)Templates"/>
        <?endforeach?>
        <ConfigurationData Name="Config_MSBuildLocation" Value="Dir_MSBuildTargets"/>
      </Merge>
      <?if "$(var.IncludeUwp)" ~= "True" ?>
      <Merge Id="Merge_Uwp" Language="1033" SourceFile="Uwp.msm" DiskId="1">
        <?foreach key in VS;WD;VWD?>
        <ConfigurationData Name="Config_$(var.key)ExtensionsParent" Value="Dir_$(var.key)Extensions" />
        <ConfigurationData Name="Config_$(var.key)TemplatesParent" Value="Dir_$(var.key)Templates"/>
        <?endforeach?>
        <ConfigurationData Name="Config_MSBuildLocation" Value="Dir_MSBuildTargets"/>
      </Merge>
      <?endif ?>
      <Merge Id="Merge_PythonTools" Language="1033" SourceFile="PythonTools.msm" DiskId="1">
        <?foreach key in VS;WD;VWD?>
        <ConfigurationData Name="Config_$(var.key)ExtensionsParent" Value="Dir_$(var.key)Extensions" />
        <ConfigurationData Name="Config_$(var.key)TemplatesParent" Value="Dir_$(var.key)Templates"/>
        <?endforeach?>
        <ConfigurationData Name="Config_MSBuildLocation" Value="Dir_MSBuildTargets"/>

        <ConfigurationData Name="Config_StartMenuLocation" Value="Dir_StartMenu"/>
      </Merge>
      <?if "$(var.IncludeHpc)" ~= "True" ?>
      <Merge Id="Merge_Hpc" Language="1033" SourceFile="Hpc.msm" DiskId="1">
        <?foreach key in VS;WD;VWD?>
        <ConfigurationData Name="Config_$(var.key)ExtensionsParent" Value="Dir_$(var.key)Extensions" />
        <ConfigurationData Name="Config_$(var.key)TemplatesParent" Value="Dir_$(var.key)Templates"/>
        <?endforeach?>
        <ConfigurationData Name="Config_MSBuildLocation" Value="Dir_MSBuildTargets"/>
      </Merge>
      <?endif ?>
      <Merge Id="Merge_IronPython" Language="1033" SourceFile="IronPython.msm" DiskId="1">
        <?foreach key in VS;WD;VWD?>
        <ConfigurationData Name="Config_$(var.key)ExtensionsParent" Value="Dir_$(var.key)Extensions" />
        <ConfigurationData Name="Config_$(var.key)TemplatesParent" Value="Dir_$(var.key)Templates"/>
        <?endforeach?>
        <ConfigurationData Name="Config_MSBuildLocation" Value="Dir_MSBuildTargets"/>
      </Merge>
      <?if "$(var.IncludeVsLogger)" ~= "True" ?>
      <Merge Id="Merge_VsLogger" Language="1033" SourceFile="VsLogger.msm" DiskId="1">
        <?foreach key in VS;WD;VWD?>
        <ConfigurationData Name="Config_$(var.key)ExtensionsParent" Value="Dir_$(var.key)Extensions" />
        <ConfigurationData Name="Config_$(var.key)TemplatesParent" Value="Dir_$(var.key)Templates"/>
        <?endforeach?>
        <ConfigurationData Name="Config_MSBuildLocation" Value="Dir_MSBuildTargets"/>
      </Merge>
      <?endif?>
    </DirectoryRef>

    <!-- Features to install -->

    <!-- Main visual studio support feature, requires Visual Studio. -->
    <Feature Id="ProductFeature" Title="$(var.ProductName)" Description="!(loc.ProductDescription)"
             Display="expand" Level="1" AllowAdvertise="no" Absent="disallow"  >
      <ComponentRef Id="Comp_ProgramMenuFolder" />

      <MergeRef Id="Merge_PythonTools"/>
      <?if "$(var.VSTargetVersion)" = "10.0" or "$(var.VSTargetVersion)" = "11.0" or "$(var.VSTargetVersion)" = "12.0" ?>
      <MergeRef Id="Merge_ReplWindow"/>
      <?endif ?>
      <MergeRef Id="Merge_Profiling"/>

      <?if "$(var.IncludeVsLogger)" ~= "True" ?>
      <MergeRef Id="Merge_VsLogger"/>
      <?endif?>

      <Feature Id="Feature_Django" AllowAdvertise="no" Level="1" Title="Django integration" Description="Django integration">
        <MergeRef Id="Merge_Django"/>
      </Feature>

      <?if "$(var.IncludeUwp)" ~= "True" ?>
      <Feature Id="Feature_Uwp" AllowAdvertise="no" Level="1" Title="UWP integration" Description="UWP integration">
        <MergeRef Id="Merge_Uwp"/>
      </Feature>
      <?endif?>
      
      <Feature Id="Feature_IronPython" AllowAdvertise="no" Level="1" Title="IronPython support" Description="IronPython support">
        <MergeRef Id="Merge_IronPython"/>
      </Feature>

      <?if "$(var.IncludeHpc)" ~= "True" ?>
      <Feature Id="Feature_WinHpc" AllowAdvertise="no" Level="1" Title="Windows HPC Support" Description="Windows HPC Support">
        <Condition Level="2">NOT HPC_CLIENT_INSTALLED</Condition>
        <MergeRef Id="Merge_Hpc"/>
      </Feature>
      <?endif ?>

      <Feature Id="Feature_VsPyFile" AllowAdvertise="no" Level="1" Title="Register file associations" Description="Associates Python projects and source files with Visual Studio (existing source file associations are not modified).">
        <ComponentRef Id="Comp_VSPyFileProgId"/>
        <ComponentRef Id="Comp_WDPyFileProgId"/>
        <ComponentRef Id="Comp_VWDPyFileProgId"/>
        <ComponentRef Id="Comp_PyProjRegistration" />
      </Feature>
    </Feature>


    <!-- Execute devenv /setup -->
    <CustomAction Id="DevEnvSetup" Property="DEVENV_PATH" ExeCommand="/setup" Execute="deferred" Return="check" Impersonate="no" />
    <CustomAction Id="DevEnvSetup_Rollback" Property="DEVENV_PATH" ExeCommand="/setup" Execute="rollback" Return="check" Impersonate="no" />
    <CustomAction Id="WDExpressSetup" Property="WDEXPRESS_PATH" ExeCommand="/setup" Execute="deferred" Return="check" Impersonate="no" />
    <CustomAction Id="WDExpressSetup_Rollback" Property="WDEXPRESS_PATH" ExeCommand="/setup" Execute="rollback" Return="check" Impersonate="no" />
    <CustomAction Id="VWDExpressSetup" Property="VWDEXPRESS_PATH" ExeCommand="/setup" Execute="deferred" Return="check" Impersonate="no" />
    <CustomAction Id="VWDExpressSetup_Rollback" Property="VWDEXPRESS_PATH" ExeCommand="/setup" Execute="rollback" Return="check" Impersonate="no" />

    <InstallExecuteSequence>
      <InstallExecute Before="DevEnvSetup_Rollback" />
      <Custom Action="DevEnvSetup_Rollback" Before="DevEnvSetup" Overridable="yes">NOT SKIP_DEVENV_SETUP AND DEVENV_PATH</Custom>
      <Custom Action="DevEnvSetup" Before="InstallFinalize" Overridable="yes">NOT SKIP_DEVENV_SETUP AND DEVENV_PATH</Custom>
      <Custom Action="WDExpressSetup_Rollback" Before="WDExpressSetup" Overridable="yes">NOT SKIP_DEVENV_SETUP AND WDEXPRESS_PATH</Custom>
      <Custom Action="WDExpressSetup" Before="InstallFinalize" Overridable="yes">NOT SKIP_DEVENV_SETUP AND WDEXPRESS_PATH</Custom>
      <Custom Action="VWDExpressSetup_Rollback" Before="VWDExpressSetup" Overridable="yes">NOT SKIP_DEVENV_SETUP AND VWDEXPRESS_PATH</Custom>
      <Custom Action="VWDExpressSetup" Before="InstallFinalize" Overridable="yes">NOT SKIP_DEVENV_SETUP AND VWDEXPRESS_PATH</Custom>
    </InstallExecuteSequence>
    <InstallUISequence>
      <Show Dialog="CustomAdvancedWelcomeEulaDlg" Before="FindRelatedProducts">NOT Installed</Show>
      <Show Dialog="CustomFeaturesDlg" After="CostFinalize">NOT Installed AND EasyInstall=0</Show>
    </InstallUISequence>

    <!-- Include the UI from UI.wxs -->
    <UIRef Id="UI_Default"/>
    
    <!-- Handle ref-counting of our package -->
    <Feature Id="Provider" Absent="disallow" AllowAdvertise="no" Description="Used for Ref Counting" Display="hidden" Level="1" InstallDefault="local" Title="RefCounting" TypicalDefault="install">
      <ComponentRef Id="PythonTools_Provider" />
    </Feature>
  </Product>
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="PythonTools_Provider" Guid="8F19174A-E8A1-4608-9084-E9ADEDE9E4C1">
        <dep:Provides Key="Microsoft.PythonTools,v$(var.ReleaseVersion)" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>