<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:dep="http://schemas.microsoft.com/wix/DependencyExtension">
  <?include PythonToolsInstallerVars.wxi ?>

  <Product Id="$(var.InstallerGuid)" Name="$(var.ProductName)" Language="1033" Version="$(var.MsiVersion)" Manufacturer="Microsoft Corporation" UpgradeCode="$(var.InstallerUpgradeGuid)">
    <Package InstallerVersion="300" Compressed="yes"  />
    <MajorUpgrade AllowDowngrades="no" AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <PropertyRef Id="UpgradeVersionsDummyProperty" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />


    <!-- Properties that we need to search for -->

    <!-- By default we install for all users, users can change this -->
    <Property Id="ALLUSERS" Value="1"/>

    <!-- we detect other installed software (IronPython, HPC pack) and set the install level of the feature to 2 if they're not installed to uncheck them by default.  -->
    <Property Id="INSTALLLEVEL" Value="1"/>

    <Property Id="HPC_CLIENT_INSTALLED">
      <ComponentSearch Id="SchedUtil" Guid="4BC84A98-B96A-4564-8BD7-11CE7340DA3B" Type="file" />
    </Property>

    <!-- Conditions for install -->
    <PropertyRef Id="PTVS_15_PERUSER"/>
    <Condition Message="Python Tools 1.5 was installed per-user.  Python Tools 1.5 must be uninstalled via Add\Remove Programs before continuing installation.">NOT PTVS_15_PERUSER OR Installed</Condition>
    
    <PropertyRef Id="IPYTOOLS_INSTALLED"/>
    <Condition Message="The IronPython Tools feature of IronPython 2.7 must be uninstalled.  Python Tools replaces IronPython Tools and supports all the same features and more.">NOT IPYTOOLS_INSTALLED OR REMOVE ~= "ALL"</Condition>

    <!-- On 2013 prevent installing on Visual Studio pre-Release builds -->
    <?if "$(var.VSTargetVersion)" = "12.0" ?>
    <PropertyRef Id="VS2013_PRERELEASE"/>
    <Condition Message="A pre-release version of Visual Studio 2013 was detected.  This version of Python Tools is not supported on pre-release builds of Visual Studio 2013.  Please upgrade to Visual Studio 2013."> NOT VS2013_PRERELEASE OR Installed </Condition>
    <?endif ?>

    <PropertyRef Id="VSINSTALLPATH"/>
    <PropertyRef Id="DEVENV_PATH"/>
    <PropertyRef Id="WDEXPRESS_PATH"/>
    <PropertyRef Id="VWDEXPRESS_PATH"/>
    
    <?if "$(var.VSTargetVersion)" = "10.0" ?>
    <Condition Message="Visual Studio 2010 is required.  PTVS for other versions of Visual Studio can be downloaded from http://pytools.codeplex.com/."> VSINSTALLPATH OR Installed </Condition>
    <?elseif "$(var.VSTargetVersion)" = "11.0" ?>
    <Condition Message="Visual Studio 2012 is required.  PTVS for other versions of Visual Studio can be downloaded from http://pytools.codeplex.com/."> VSINSTALLPATH OR Installed </Condition>
    <?elseif "$(var.VSTargetVersion)" = "12.0" ?>
    <Condition Message="Visual Studio 2013 is required.  The free Visual Studio Express 2013 for Desktop and Visual Studio Express 2013 for Web editions, as well as the required Visual Studio 2013 Update 2, can be downloaded from http://www.visualstudio.com/.">
      VSINSTALLPATH OR WDEXPRESS_PATH OR VWDEXPRESS_PATH OR Installed
    </Condition>
    <?else?>
    <Condition Message="Visual Studio v$(var.VSTargetVersion) must be installed."> VSINSTALLPATH OR Installed </Condition>
    <?endif ?>

    <!-- Install the tools into the VS directory -->
    <DirectoryRef Id="Dir_VSExtensions">
      <Directory Id="Dir_VSInstallLocationParent" Name="Python Tools for Visual Studio">
        <Directory Id="Dir_VSInstallLocation" Name="$(var.ReleaseVersion)" />
      </Directory>
    </DirectoryRef>

    <PropertyRef Id="VSLAUNCHER"/>
    
    <DirectoryRef Id="Dir_VSInstallLocation">
      <Component Id="Comp_InstallDirItems" Guid="$(var.Comp_InstallDirItemsGuid)">
        <Shortcut Id="LicenseShortcut"
                  Target="[File_License.html]"
                  Directory="Dir_StartMenu"
                  Name="PTVS License"
                  Description="Python Tools for Visual Studio License Agreement" />
        <RegistryValue Root='HKCU' Key='SOFTWARE\Microsoft\PythonTools\$(var.VSTargetVersion)' Type='string' Value='Readme' KeyPath='yes' />
        <RemoveFolder Id='DeleteDir_StartMenu' Directory='Dir_StartMenu' On='uninstall'/>
      </Component>

      <Component Id="Comp_InstallLocation" Guid="$(var.Comp_InstallLocationGuid)">
        <File Id="File_License.html" Name="License.html" Source="License.html" />
        <RegistryKey Root="HKMU" Key="Software\Microsoft\PythonTools\$(var.VSTargetVersion)">
          <RegistryValue Type="string" Name="InstallDir" Value="[Dir_VSInstallLocation]" KeyPath="yes"/>
        </RegistryKey>
        <util:RestartResource Path="[DEVENV_PATH]" />
      </Component>

      <!-- Double click to open Python projects with Visual Studio -->
      <Component Id="Comp_PyProjRegistration" DiskId="1" Guid="$(var.Comp_PyProjRegistrationGuid)">
        <RegistryValue Root='HKCR' Key='.pyproj' Type='string' Name='PerceivedType' Value='text' />
        <RegistryValue Root='HKCR' Key='VisualStudio.Launcher.pyproj.$(var.VSTargetVersion)\DefaultIcon' Type='string' Value='[Dir_VSInstallLocation]\PythonProject.ico' />

        <ProgId Id="VisualStudio.Launcher.pyproj.$(var.VSTargetVersion)" Description="Python Project">
          <Extension Id="pyproj" ContentType="text/plain">
            <Verb Id="Open" Command="Open" TargetProperty="VSLAUNCHER" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
      </Component>

      <!-- Open with Visual Studio context menu -->
      <Component Id="Comp_PyFileProgId" Guid="$(var.Comp_PyFileProgIdGuid)">
        <!-- Manually writing the ProdId so we can add DDE info -->
        <RegistryKey Root='HKCR' Key='VisualStudio.py.$(var.VSTargetVersion)'>
          <RegistryValue Type='string' Value='Python source file' />

          <RegistryKey Key='DefaultIcon'>
            <RegistryValue Type='string' Value="[Dir_VSInstallLocation]\PythonFile.ico" />
          </RegistryKey>

          <RegistryKey Key='shell\open'>
            <RegistryValue Key='Command' Type='string' Value='[VSINSTALLPATH]devenv.exe /dde "%1"' />

            <RegistryValue Key='ddeexec' Type='string' Value='Open("%1")' />
            <RegistryValue Key='ddeexec\Application' Type='string' Value='VisualStudio.$(var.VSTargetVersion)' />
            <RegistryValue Key='ddeexec\Topic' Type='string' Value='system' />
          </RegistryKey>
        </RegistryKey>

        <RegistryValue Root='HKCR' Key='.py\OpenWithProgids' Name='VisualStudio.py.$(var.VSTargetVersion)' Type='string' Value='' />
        <RegistryValue Root='HKCR' Key='.pyw\OpenWithProgids' Name='VisualStudio.py.$(var.VSTargetVersion)' Type='string' Value='' />
      </Component>

      <Merge Id="Merge_ReplWindow" Language="1033" SourceFile="ReplWindow.msm" DiskId="1">
        <?foreach key in VS;WD;VWD?>
        <ConfigurationData Name="Config_$(var.key)ExtensionsParent" Value="Dir_$(var.key)Extensions" />
        <ConfigurationData Name="Config_$(var.key)TemplatesParent" Value="Dir_$(var.key)Templates"/>
        <?endforeach?>
        <ConfigurationData Name="Config_MSBuildLocation" Value="Dir_MSBuildTargets"/>
      </Merge>
      <Merge Id="Merge_Profiling" Language="1033" SourceFile="Profiling.msm" DiskId="1">
        <?foreach key in VS;WD;VWD?>
        <ConfigurationData Name="Config_$(var.key)ExtensionsParent" Value="Dir_$(var.key)Extensions" />
        <ConfigurationData Name="Config_$(var.key)TemplatesParent" Value="Dir_$(var.key)Templates"/>
        <?endforeach?>
        <ConfigurationData Name="Config_MSBuildLocation" Value="Dir_MSBuildTargets"/>
      </Merge>
      <Merge Id="Merge_Django" Language="1033" SourceFile="Django.msm" DiskId="1">
        <?foreach key in VS;WD;VWD?>
        <ConfigurationData Name="Config_$(var.key)ExtensionsParent" Value="Dir_$(var.key)Extensions" />
        <ConfigurationData Name="Config_$(var.key)TemplatesParent" Value="Dir_$(var.key)Templates"/>
        <?endforeach?>
        <ConfigurationData Name="Config_MSBuildLocation" Value="Dir_MSBuildTargets"/>
      </Merge>
      <Merge Id="Merge_PythonTools" Language="1033" SourceFile="PythonTools.msm" DiskId="1">
        <?foreach key in VS;WD;VWD?>
        <ConfigurationData Name="Config_$(var.key)ExtensionsParent" Value="Dir_$(var.key)Extensions" />
        <ConfigurationData Name="Config_$(var.key)TemplatesParent" Value="Dir_$(var.key)Templates"/>
        <?endforeach?>
        <ConfigurationData Name="Config_MSBuildLocation" Value="Dir_MSBuildTargets"/>

        <ConfigurationData Name="Config_StartMenuLocation" Value="Dir_StartMenu"/>
      </Merge>
      <Merge Id="Merge_Hpc" Language="1033" SourceFile="Hpc.msm" DiskId="1">
        <?foreach key in VS;WD;VWD?>
        <ConfigurationData Name="Config_$(var.key)ExtensionsParent" Value="Dir_$(var.key)Extensions" />
        <ConfigurationData Name="Config_$(var.key)TemplatesParent" Value="Dir_$(var.key)Templates"/>
        <?endforeach?>
        <ConfigurationData Name="Config_MSBuildLocation" Value="Dir_MSBuildTargets"/>
      </Merge>
      <Merge Id="Merge_IronPython" Language="1033" SourceFile="IronPython.msm" DiskId="1">
        <?foreach key in VS;WD;VWD?>
        <ConfigurationData Name="Config_$(var.key)ExtensionsParent" Value="Dir_$(var.key)Extensions" />
        <ConfigurationData Name="Config_$(var.key)TemplatesParent" Value="Dir_$(var.key)Templates"/>
        <?endforeach?>
        <ConfigurationData Name="Config_MSBuildLocation" Value="Dir_MSBuildTargets"/>
      </Merge>
      <?if "$(var.IncludeVsLogger)" = "True" ?>
      <Merge Id="Merge_VsLogger" Language="1033" SourceFile="VsLogger.msm" DiskId="1">
        <?foreach key in VS;WD;VWD?>
        <ConfigurationData Name="Config_$(var.key)ExtensionsParent" Value="Dir_$(var.key)Extensions" />
        <ConfigurationData Name="Config_$(var.key)TemplatesParent" Value="Dir_$(var.key)Templates"/>
        <?endforeach?>
        <ConfigurationData Name="Config_MSBuildLocation" Value="Dir_MSBuildTargets"/>
      </Merge>
      <?endif?>
    </DirectoryRef>

    <!-- Features to install -->

    <!-- Main visual studio support feature, requires Visual Studio. -->
    <Feature Id="ProductFeature" Title="$(var.ProductName)" Description="$(var.ProductName)"
             Display="expand" Level="1" AllowAdvertise="no" Absent="disallow"  >
      <ComponentRef Id="Comp_InstallDirItems" />
      <ComponentRef Id="Comp_InstallLocation" />

      <MergeRef Id="Merge_PythonTools"/>
      <MergeRef Id="Merge_ReplWindow"/>
      <MergeRef Id="Merge_Profiling"/>

      <?if "$(var.IncludeVsLogger)" = "True" ?>
      <MergeRef Id="Merge_VsLogger"/>
      <?endif?>

      <Feature Id="Feature_Django" AllowAdvertise="no" Level="1" Title="Django integration" Description="Django integration">
        <MergeRef Id="Merge_Django"/>
      </Feature>

      <Feature Id="Feature_IronPython" AllowAdvertise="no" Level="1" Title="IronPython support" Description="IronPython support">
        <MergeRef Id="Merge_IronPython"/>
      </Feature>

      <Feature Id="Feature_WinHpc" AllowAdvertise="no" Level="1" Title="Windows HPC Support" Description="Windows HPC Support">
        <Condition Level="2">NOT HPC_CLIENT_INSTALLED</Condition>
        <MergeRef Id="Merge_Hpc"/>
      </Feature>

      <Feature Id="Feature_VsPyFile" AllowAdvertise="no" Level="1" Title="Register file associations" Description="Associates Python projects and source files with Visual Studio (existing source file associations are not modified).">
        <ComponentRef Id="Comp_PyFileProgId"/>
        <ComponentRef Id="Comp_PyProjRegistration" />
      </Feature>
    </Feature>


    <!-- Execute devenv /setup -->
    <CustomAction Id="DevEnvSetup" Property="DEVENV_PATH" ExeCommand="/setup" Execute="deferred" Return="check" Impersonate="no" />
    <CustomAction Id="DevEnvSetup_Rollback" Property="DEVENV_PATH" ExeCommand="/setup" Execute="rollback" Return="check" Impersonate="no" />
    <CustomAction Id="WDExpressSetup" Property="WDEXPRESS_PATH" ExeCommand="/setup" Execute="deferred" Return="check" Impersonate="no" />
    <CustomAction Id="WDExpressSetup_Rollback" Property="WDEXPRESS_PATH" ExeCommand="/setup" Execute="rollback" Return="check" Impersonate="no" />
    <CustomAction Id="VWDExpressSetup" Property="VWDEXPRESS_PATH" ExeCommand="/setup" Execute="deferred" Return="check" Impersonate="no" />
    <CustomAction Id="VWDExpressSetup_Rollback" Property="VWDEXPRESS_PATH" ExeCommand="/setup" Execute="rollback" Return="check" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="DevEnvSetup_Rollback" Before="DevEnvSetup" Overridable="yes">DEVENV_PATH</Custom>
      <Custom Action="DevEnvSetup" Before="InstallFinalize" Overridable="yes">DEVENV_PATH</Custom>
      <Custom Action="WDExpressSetup_Rollback" Before="WDExpressSetup" Overridable="yes">WDEXPRESS_PATH</Custom>
      <Custom Action="WDExpressSetup" Before="InstallFinalize" Overridable="yes">WDEXPRESS_PATH</Custom>
      <Custom Action="VWDExpressSetup_Rollback" Before="VWDExpressSetup" Overridable="yes">VWDEXPRESS_PATH</Custom>
      <Custom Action="VWDExpressSetup" Before="InstallFinalize" Overridable="yes">VWDEXPRESS_PATH</Custom>
    </InstallExecuteSequence>
    <InstallUISequence>
      <Show Dialog="CustomAdvancedWelcomeEulaDlg" Before="FindRelatedProducts">NOT Installed</Show>
      <Show Dialog="CustomFeaturesDlg" After="CostFinalize">NOT Installed AND EasyInstall=0</Show>
    </InstallUISequence>

    <!-- Include the UI from UI.wxs -->
    <UIRef Id="UI_Default"/>
    
    <!-- Handle ref-counting of our package -->
    <Feature Id="Provider" Absent="disallow" AllowAdvertise="no" Description="Used for Ref Counting" Display="hidden" Level="1" InstallDefault="local" Title="RefCounting" TypicalDefault="install">
      <ComponentRef Id="PythonTools_Provider" />
    </Feature>
  </Product>
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="PythonTools_Provider" Guid="8F19174A-E8A1-4608-9084-E9ADEDE9E4C1">
        <dep:Provides Key="Microsoft.PythonTools,v2.1" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>