extends layout

block content
  h2 #{title}.
  h3 #{message}
  address
    | One Microsoft Way
    br
    | Redmond, WA 98052-6399
    br
    abbr(title='Phone') P: 
    | 425.555.0100

  address
    strong Support: 
    a(href='mailto:Support@example.com') Support@example.com
    br
    strong Marketing: 
    a(href='mailto:Marketing@example.com') Marketing@example.com
