.navbar-toggler[b-jyxw13b9jx] {
	background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-jyxw13b9jx] {
	height: 3.5rem;
	background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-jyxw13b9jx] {
	font-size: 1.1rem;
}

.oi[b-jyxw13b9jx] {
	width: 2rem;
	font-size: 1.1rem;
	vertical-align: text-top;
	top: -2px;
}

.nav-item[b-jyxw13b9jx] {
	font-size: 0.9rem;
	padding-bottom: 0.5rem;
}

	.nav-item:first-of-type[b-jyxw13b9jx] {
		padding-top: 1rem;
	}

	.nav-item:last-of-type[b-jyxw13b9jx] {
		padding-bottom: 1rem;
	}

	.nav-item[b-jyxw13b9jx]  a {
		color: #d7d7d7;
		border-radius: 4px;
		height: 3rem;
		display: flex;
		align-items: center;
		line-height: 3rem;
	}

.nav-item[b-jyxw13b9jx]  a.active {
	background-color: rgba(255,255,255,0.25);
	color: white;
}

.nav-item[b-jyxw13b9jx]  a:hover {
	background-color: rgba(255,255,255,0.1);
	color: white;
}

@media (min-width: 641px) {
	.navbar-toggler[b-jyxw13b9jx] {
		display: none;
	}

	.collapse[b-jyxw13b9jx] {
		/* Never collapse the sidebar for wide screens */
		display: block;
	}
}
