{% extends "app/layout.html" %}

{% block content %}

<h2>{{title}}.</h2>

<h3>Support</h3>
<address>
    <strong>Python Tools for Visual Studio:</strong> <a href="http://pytools.codeplex.com/" target="_blank">http://pytools.codeplex.com/</a><br />
</address>

<h3>Links</h3>
<address>
    <strong>Django:</strong> <a href="https://www.djangoproject.com/" target="_blank">https://www.djangoproject.com/</a><br />
    <strong>Microsoft Azure:</strong> <a href="http://azure.microsoft.com/" target="_blank">http://azure.microsoft.com/</a><br />
</address>

{% endblock %}
