<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="EXTENSION_INSTALLPATH">
            <Directory Id="Dir_ProjectTemplates" Name="ProjectTemplates">
                <Directory Id="Dir_ProjectTemplates_Python" Name="Python" />
            </Directory>
            <Directory Id="Dir_ItemTemplates" Name="ItemTemplates">
                <Directory Id="Dir_ItemTemplates_Python" Name="Python" />
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DjangoVsExt">
            <!-- Per user components -->
            <Component Id="PerUserInstallRegistry" Directory="INSTALLLOCATION" Guid="{4B9498D3-AA15-4DA7-951B-47A49883AF73}">
                <Condition>NOT ALLUSERS = 1</Condition>
                <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\EnabledExtensions'>
                    <RegistryValue Type='string' Name='a8637c34-aa55-46e2-973c-9c3e09afc17b,2.0' Value='[INSTALLLOCATION]'/>
                </RegistryKey>
                <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\ExtensionTypes'>
                    <RegistryValue Type='string' Name='a8637c34-aa55-46e2-973c-9c3e09afc17b,2.0' Value='Tool'/>
                </RegistryKey>
            </Component>

            <Component Id="cmpA3B88C22BEA14947969A6DBAC37EAC3C" Directory="INSTALLLOCATION" Guid="{CBD6D4DA-7DA8-4D07-92C5-53D9E72769A2}">
                <File Id="fil92CB7762778A45D582343F2F3E3B5E0C" KeyPath="yes" Source="$(var.TargetDir)\PythonProject.ico" />
            </Component>
            <Component Id="cmp3DB4060D02CA456E814470F70D38EE9D" Directory="INSTALLLOCATION" Guid="{9945B619-B1D7-43F7-BD64-1E2E32615FAD}">
                <File Id="fil7C031EE5F18742A0A51C2865B7B93DE6" KeyPath="yes" Source="$(var.TargetDir)\PythonProjectBig.ico" />
            </Component>

            <!-- Both per user and all user components -->
            <Component Id="cmp85EAAEE386C1446FA54E83CDB83B078F" Directory="INSTALLLOCATION" Guid="{9AF3CFB7-BD81-4E27-9FD0-43CFDD9FAE72}">
                <File Id="fil87C095A96C5B482C9D76ADBD4A724803" KeyPath="yes" Source="$(var.ObjDir)\extension.vsixmanifest" />
            </Component>
            <Component Id="cmp4C5840915DD748D3BBEA60BC204FFB18" Directory="INSTALLLOCATION" Guid="{7176A2F6-D007-44D4-8819-C88786F31D20}">
                <File Id="fil94D0D491095E44A1B0953FA3E77F9A6A" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.Django.dll" />
            </Component>
            <Component Id="cmp529D4DBADD5343BC9BA9C9D10627E979" Directory="INSTALLLOCATION" Guid="{505D2DA1-16AB-4FE3-8415-9237474E3190}">
                <File Id="filBAF64E97BE09427086DEBB9703D146C6" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.Django.pkgdef" />
            </Component>
            
            <Component Id="cmp843B7FB2D6434D2799C80D60D9842459" Directory="Dir_ProjectTemplates_Python" Guid="{26F95137-B41F-47CB-B3A2-6769E513D11F}">
                <File Id="filC0DD732153BC4B168791158F3DEF4CAD" KeyPath="yes" Source="$(var.TargetDir)\ProjectTemplates\Python\DjangoProject.zip" />
            </Component>
            
            <Component Id="cmpE95A9B6479B549C5BCFADF24CBF605FD" Directory="Dir_ItemTemplates_Python" Guid="{1296CCF7-C82C-4D7A-8086-9742FD984D3B}">
                <File Id="filAD9E9715475C402D8927BFA29168E597" KeyPath="yes" Source="$(var.TargetDir)\ItemTemplates\Python\DjangoHtml.zip" />
            </Component>
            <Component Id="cmp58D9E461B63E44B183C59BB134A727B0" Directory="Dir_ItemTemplates_Python" Guid="{59997500-9E07-4359-A80F-5BA61B0C7E5C}">
                <File Id="filA3BC8F8027224F8A83783CDCA3C2FB20" KeyPath="yes" Source="$(var.TargetDir)\ItemTemplates\Python\JavaScript.zip" />
            </Component>
            <Component Id="cmp1CD7CCFFC72F4A1BA90610CDE5028D45" Directory="Dir_ItemTemplates_Python" Guid="{3A56AD2D-7858-4E24-8836-D0F99FAE87B2}">
                <File Id="fil0D633913738B42F9988B80F115C3CE00" KeyPath="yes" Source="$(var.TargetDir)\ItemTemplates\Python\Stylesheet.zip" />
            </Component>

            <Component Id="cmp8FD2DCD84D064839ADBA2841550496C7" Directory="Dir_ItemTemplates_Python" Guid="{1654E889-E8E9-4B57-BEAD-DD268EB0C709}">
                <File Id="filAD5040460E0C42D8BE43C8E81DBAD43F" KeyPath="yes" Source="$(var.TargetDir)\ItemTemplates\Python\DjangoNewAppFiles14.zip" />
            </Component>
            
            
            <Component Id="cmp4FD921172E724700A7C19D19663D3FDE" Directory="Dir_PythonToolsMsBuild" Guid="{6CA3EDD5-E639-41D8-A063-1082659BA9DE}">
                <File Id="filC7455A97B04D4226B3D48288A5456A10" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.PythonTools.Django.targets" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>