<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="PTVSDjangoPackage" Language="1033" Version="1.0.0.0">
    <Package Id="AF938468-55BF-4F28-8F64-EA8B2676B77E" Manufacturer="Microsoft Corporation" InstallerVersion="200" />

    <?include ..\MergeModule.wxi ?>

    <Component Id="PerUserInstallRegistry" Directory="Dir_VSInstallLocation" Guid="{4B9498D3-AA15-4DA7-951B-47A49883AF73}">
      <Condition>NOT ALLUSERS = 1</Condition>
      <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\EnabledExtensions'>
        <RegistryValue Type='string' Name='a8637c34-aa55-46e2-973c-9c3e09afc17b,$(var.ReleaseVersion)' Value='[Dir_VSInstallLocation]'/>
      </RegistryKey>
      <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\ExtensionTypes'>
        <RegistryValue Type='string' Name='a8637c34-aa55-46e2-973c-9c3e09afc17b,$(var.ReleaseVersion)' Value='Tool'/>
      </RegistryKey>
    </Component>

    <ComponentGroupRef Id="CGroup_DjangoFiles"/>
  </Module>
</Wix>
