<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define InstallLocationName = "Repl Window" ?>

  <Module Id="ReplWindow" Language="1033" Version="1.0.0.0">
    <Package Id="509BB9F6-D4C1-4AB2-9EDD-D84D548A9EE4" Manufacturer="Microsoft Corporation" InstallerVersion="200" />

    <Property Id="VSINSTALLPATH">
      <RegistrySearch Id="VSInstallDir" Root="HKLM" Key="Software\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentDirectory" Type="directory" />
    </Property>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="VSINSTALLPATH">
        <Directory Id="_0AC62D6FF09F49DCB209A740D8BED631" Name="Extensions">
          <Directory Id="_16BB2A4F12774B36AA7994C01AE3479A" Name="Microsoft">
            <Directory Id="_D67A6BA9BF9248ECB0BA398AC5AF37AA" Name="Microsoft.VisualStudio.ReplWindow">
              <Directory Id="INSTALLLOCATION" Name="1.0">
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroupRef Id="ReplWindowExt"/>
  </Module>
</Wix>
